@media only screen and (max-width: 1280px) {
  .logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 64px;
    height: auto;
  }
  .welcome__wrapper .welcome .welcome-bg {
    bottom: 0;
    top: auto;
    height: auto;
    width: 120%;
  }
  .welcome__wrapper .welcome .welcome-bg.active {
    filter: blur(3px);
  }
  .welcome__wrapper .welcome .social {
    position: absolute;
    left: 45px;
    top: 124px;
    gap: 10px;
  }
  .welcome__wrapper .welcome .social a {
    width: 34px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .welcome__wrapper .welcome .social a img {
    width: 18px;
  }
  .welcome__wrapper .welcome .welcome__top-block {
    top: 122px;
    left: 474px;
    transform: translateX(0);
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-title {
    font-size: 68px;
    line-height: 58px;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-subtitle {
    width: 300px;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 0 52px;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button {
    margin: 20px 0 0 52px;
    width: 165px;
    height: 44px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button::before {
    border-radius: 3px;
  }
  .welcome__wrapper .welcome .title {
    left: 30px;
    bottom: 12px;
    font-size: 38px;
    line-height: 45px;
  }
  .welcome__wrapper .welcome .title span {
    font-size: 102px;
    line-height: 102px;
  }
  .welcome__wrapper .welcome .video__wrapper {
    padding: 30px;
  }
  .welcome__wrapper .welcome .video__wrapper #video {
    border-radius: 8px;
  }
  .welcome__wrapper .welcome .video__wrapper .control {
    bottom: 50px;
    left: 50px;
    gap: 10px;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button {
    width: 34px;
    height: 34px;
    border: 1px solid #ffffff;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button svg {
    width: 12px;
    height: auto;
    transition: 0.25s ease-out opacity;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button svg .icon {
    transition: 0.25s ease-out fill;
  }
  .welcome__wrapper .welcome .video__wrapper .control .muted svg {
    width: 19px;
  }
  .welcome__wrapper .welcome .video__wrapper .control #progress {
    width: 362px;
    height: 4px;
    margin: 0 5px;
    border-radius: 100px;
  }
  .welcome__wrapper .welcome .video__wrapper .control #out {
    font-size: 14px;
    line-height: 17px;
  }
  .colection .colection__container {
    width: 964px;
    overflow: hidden;
  }
  .colection .colection__container .colection__top-block {
    position: relative;
  }
  .colection .colection__container .colection__top-block .colection__title {
    font-size: 78px;
    line-height: 78px;
    width: -moz-max-content;
    width: max-content;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper {
    background-image: url(../img/colection/colection-bg1024.svg);
    position: absolute;
    right: 30px;
    bottom: -556px;
    width: 447px;
    padding: 19px 24px 26px 39px;
    gap: 15px;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper p {
    font-size: 15px;
    line-height: 22px;
  }
  .colection .colection__container .colection__galery {
    height: 555px;
  }
  .colection .colection__container .colection__galery .container1 {
    width: 137.69px;
    height: 148.02px;
    top: 10px;
  }
  .colection .colection__container .colection__galery .container2 {
    width: 210.06px;
    height: 225.82px;
    left: 165px;
    top: 43px;
  }
  .colection .colection__container .colection__galery .container3 {
    width: 302.93px;
    height: 325.65px;
    left: 330px;
    top: 10px;
  }
  .colection .colection__container .colection__galery .container4 {
    width: 186.57px;
    height: 200.57px;
    left: 661px;
    top: 43px;
    z-index: 2;
  }
  .colection .colection__container .colection__galery .container5 {
    width: 87.44px;
    height: 93.99px;
    left: 876px;
    top: 10px;
  }
  .colection .colection__container .colection__galery .container6 {
    width: 144.58px;
    height: 155.42px;
    left: 819px;
    top: 173px;
  }
  .colection .colection__container .colection__galery .colection__descrition {
    gap: 20px;
  }
  .colection .colection__container .colection__galery .colection__descrition span {
    margin: 12px 0 0 0;
    padding: 3px 20px 0 8px;
    border-radius: 2px 0px 0px 2px;
    height: 23px;
    font-size: 20px;
    line-height: 20px;
  }
  .colection .colection__container .colection__galery .colection__descrition ul {
    padding: 15px 0 15px 20px;
    border-left: 1px solid #252530;
    gap: 10px;
  }
  .colection .colection__container .colection__galery .colection__descrition ul li {
    font-size: 20px;
    line-height: 20px;
  }
  .vertical__wrapper {
    height: 300vh;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container {
    width: 964px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__title {
    font-size: 78px;
    line-height: 78px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__subtitle {
    margin: 10px 0 0 0;
    padding: 6px 26px 0 6px;
    width: 345px;
    border-radius: 2px 0px 0px 2px;
    font-size: 20px;
    line-height: 20px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider {
    margin: 60px 0 0 0;
    gap: 367px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container {
    gap: 12px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button {
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button .arrow {
    width: 12.67px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text {
    width: 467px;
    bottom: auto;
    top: 63px;
    font-size: 18px;
    line-height: 28px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container {
    width: 72px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #first-number {
    font-size: 42px;
    line-height: 33px;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #last-number {
    font-size: 26px;
    line-height: 26px;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer {
    gap: 30px;
    transform: translateY(102%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__title {
    font-size: 165px;
    line-height: 165px;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__subtitle {
    font-size: 22px;
    line-height: 22px;
    padding: 0.4% 20px 0 6px;
    border-radius: 2px 0px 0px 2px;
    transform: translateX(-100%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__description {
    width: 345px;
    font-size: 15px;
    line-height: 22px;
    transform: translateX(-165%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer {
    transform: translateY(27%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__title {
    transform: translateY(0);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__subtitle {
    transform: translateX(180%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer {
    transform: translateY(-35%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__subtitle {
    transform: translateX(180%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__description {
    transform: translateX(0%);
  }
  .road {
    margin: -30vh 0 0 0;
  }
  .road .road__container {
    width: 964px;
  }
  .road .road__container .slide-wrapper .road__background {
    width: 105%;
    left: 50%;
    transform: translateX(-50%);
    height: 97%;
  }
  .road .road__container .slide-wrapper .road-slide {
    height: 100vh;
    gap: 80px;
    padding: 150px 0 0 0;
  }
  .road .road__container .slide-wrapper .road-slide.right .left-block .date::after {
    transform: translateX(-169%);
  }
  .road .road__container .slide-wrapper .road-slide.right .right-block .checker {
    margin: 40px 0 0 auto;
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date {
    width: 120px;
    font-size: 62px;
    line-height: 62px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date::after {
    transform: translateX(180%);
    width: 15px;
    height: 1px;
  }
  .road .road__container .slide-wrapper .road-slide .left-block strong {
    font-size: 62px;
    line-height: 62px;
  }
  .road .road__container .slide-wrapper .road-slide .right-block {
    gap: 13px;
    width: 214px;
    padding: 13px 0 0 0;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .title {
    font-size: 28px;
    line-height: 28px;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .subtitle {
    font-size: 15px;
    line-height: 22px;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .checker {
    margin: 25px 0 0 0;
    width: 70px;
  }
  .road .road__container .auto__wrapper .auto__container {
    width: 416px;
    margin: 0 auto;
    transition: 1.5s ease-in-out transform;
  }
  .road .road__container .auto__wrapper .auto__container.right {
    transform: translateX(40%);
  }
  .road .road__container .auto__wrapper .auto__container.left {
    transform: translateX(-40%);
  }
  .road .road__container .auto__wrapper .auto__container.left .auto-circle {
    transform: translateX(10%);
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle {
    width: 161px;
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle-slide {
    width: 140px;
    box-shadow: 0px 0px 100px 47px rgba(0, 0, 0, 0.74);
  }
  .about .car {
    right: 47px;
    bottom: 25%;
    width: 284px;
    z-index: 1;
  }
  .about .people {
    right: 30px;
    bottom: 40%;
    width: 170px;
  }
  .about .about__container {
    width: 964px;
  }
  .about .about__container .about__left-block {
    width: 633px;
    border-right: 1px solid #252530;
  }
  .about .about__container .about__left-block .about__title {
    font-size: 78px;
    line-height: 78px;
  }
  .about .about__container .about__left-block .about__descriptions {
    gap: 20px;
    padding: 30px 30px 30px 0;
  }
  .about .about__container .about__left-block .about__descriptions:nth-child(2) {
    border-bottom: 1px solid #252530;
  }
  .about .about__container .about__left-block .about__descriptions img {
    width: 64px;
    height: 64px;
  }
  .about .about__container .about__left-block .about__descriptions .texst {
    gap: 10px;
  }
  .about .about__container .about__left-block .about__descriptions .texst p {
    font-size: 15px;
    line-height: 22px;
  }
  .about .about__container .about__left-block .whitepaper {
    margin: 0 0 0 84px;
    width: 165px;
    height: 44px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
  }
  .about .about__container .about__left-block .whitepaper::before {
    border-radius: 3px;
  }
  .about .about__container .about__sticker {
    margin: 0 0 0 30px;
    padding: 8px 53px 11px 13px;
    border-radius: 2px 0px 0px 2px;
  }
  .about .about__container .about__sticker span {
    font-size: 52px;
    line-height: 52px;
  }
  .about .about__container .about__sticker strong {
    box-sizing: content-box;
    padding: 0 0 0 27px;
    width: 160px;
    font-size: 15px;
    line-height: 20px;
  }
  .wrapper-footer {
    overflow: hidden;
  }
  .wrapper-footer .footer-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .wrapper-footer .car-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1452px;
    z-index: 1;
  }
  .wrapper-footer .faq .faq__container {
    width: 964px;
    gap: 40px;
  }
  .wrapper-footer .faq .faq__container .faq__title {
    font-size: 78px;
    line-height: 78px;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item {
    gap: 50px;
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-circle {
    margin: 24px 0 0 0;
    width: 9px;
    height: 9px;
    border: 1px solid #ffffff;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-number {
    margin: 24px 0 0 33px;
    font-size: 14px;
    line-height: 16px;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text {
    padding: 24px 0 25px 0;
    gap: 8px;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text p {
    padding: 0 0 24px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-circle {
    border: 1px solid #7732ea;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-circle {
    border: 1px solid #7732ea;
  }
  .wrapper-footer .team {
    padding: 8vh 0 4vh 0;
    height: auto;
    display: block;
  }
  .wrapper-footer .team .team-container {
    width: 964px;
  }
  .wrapper-footer .team .team-container .team__title {
    font-size: 78px;
    line-height: 78px;
  }
  .wrapper-footer .team .team-container .people__container {
    margin: 60px 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people {
    width: 345px;
    position: relative;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(2) {
    margin: 279px 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(3) {
    margin: -80px 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people .inst {
    width: 38px;
    height: 38px;
    left: 30px;
    border: 1px solid #7732ea;
  }
  .wrapper-footer .team .team-container .people__container .people .inst svg {
    width: 18px;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle {
    right: 15px;
    top: 70px;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .circle {
    width: 185px;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .car {
    width: 162px;
  }
  .wrapper-footer .team .team-container .people__container .people .photo {
    width: 245px;
  }
  .wrapper-footer .team .team-container .people__container .people .name {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 0 35px;
  }
  .wrapper-footer .team .team-container .people__container .people .description {
    margin: 10px 0 0 35px;
    font-size: 15px;
    line-height: 22px;
  }
  .wrapper-footer .footer {
    padding: 436px 0 0 0;
  }
  .wrapper-footer .footer .footer__container {
    padding: 0 0 45px 0;
    width: 964px;
  }
  .wrapper-footer .footer .footer__container .register {
    bottom: 180px;
    width: 165px;
    height: 44px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
  }
  .wrapper-footer .footer .footer__container .register::before {
    border-radius: 3px;
  }
  .wrapper-footer .footer .footer__container .rights {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper-footer .footer .footer__container .footer__social {
    transform: translateX(-31.5%);
    gap: 12px;
  }
  .wrapper-footer .footer .footer__container .footer__social a {
    width: 34px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.082352);
  }
  .wrapper-footer .footer .footer__container .footer__social a img {
    width: 18px;
  }
  .wrapper-footer .footer .footer__container strong {
    font-size: 14px;
    line-height: 13px;
    gap: 6px;
  }
  .wrapper-footer .footer .footer__container strong a svg {
    width: 90px;
  }
}/*# sourceMappingURL=1024.css.map */