@media only screen and (max-width: 1280px) {
  .logo {
    position: absolute;
    top: 1.953vw;
    left: 2.93vw;
    width: 6.25vw;
    height: auto;
  }
  .welcome__wrapper .welcome .welcome-bg {
    bottom: 0;
    top: auto;
    height: auto;
    width: 120%;
  }
  .welcome__wrapper .welcome .welcome-bg.active {
    filter: blur(0.293vw);
  }
  .welcome__wrapper .welcome .social {
    position: absolute;
    left: 4.395vw;
    top: 12.109vw;
    gap: 0.977vw;
  }
  .welcome__wrapper .welcome .social a {
    width: 3.32vw;
    height: 3.32vw;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .welcome__wrapper .welcome .social a img {
    width: 1.758vw;
  }
  .welcome__wrapper .welcome .welcome__top-block {
    top: 11.914vw;
    left: 46.289vw;
    transform: translateX(0);
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-title {
    font-size: 6.641vw;
    line-height: 5.664vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-subtitle {
    width: 29.297vw;
    font-size: 1.465vw;
    line-height: 1.953vw;
    margin: 0 0 0 5.078vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button {
    margin: 1.953vw 0 0 5.078vw;
    width: 16.113vw;
    height: 4.297vw;
    border-radius: 0.293vw;
    font-size: 1.172vw;
    line-height: 1.367vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button::before {
    border-radius: 0.293vw;
  }
  .welcome__wrapper .welcome .title {
    left: 2.93vw;
    bottom: 1.172vw;
    font-size: 3.711vw;
    line-height: 4.395vw;
  }
  .welcome__wrapper .welcome .title span {
    font-size: 9.961vw;
    line-height: 9.961vw;
  }
  .welcome__wrapper .welcome .video__wrapper {
    padding: 2.93vw;
  }
  .welcome__wrapper .welcome .video__wrapper #video {
    border-radius: 0.781vw;
  }
  .welcome__wrapper .welcome .video__wrapper .control {
    bottom: 4.883vw;
    left: 4.883vw;
    gap: 0.977vw;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button {
    width: 3.32vw;
    height: 3.32vw;
    border: 1px solid #ffffff;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button svg {
    width: 1.172vw;
    height: auto;
    transition: 0.25s ease-out opacity;
  }
  .welcome__wrapper .welcome .video__wrapper .control .control-button svg .icon {
    transition: 0.25s ease-out fill;
  }
  .welcome__wrapper .welcome .video__wrapper .control .muted svg {
    width: 1.855vw;
  }
  .welcome__wrapper .welcome .video__wrapper .control #progress {
    width: 35.352vw;
    height: 0.391vw;
    margin: 0 0.488vw;
    border-radius: 9.766vw;
  }
  .welcome__wrapper .welcome .video__wrapper .control #out {
    font-size: 1.367vw;
    line-height: 1.66vw;
  }
  .colection .colection__container {
    width: 94.141vw;
    overflow: hidden;
  }
  .colection .colection__container .colection__top-block {
    position: relative;
  }
  .colection .colection__container .colection__top-block .colection__title {
    font-size: 7.617vw;
    line-height: 7.617vw;
    width: -moz-max-content;
    width: max-content;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper {
    background-image: url(../img/colection/colection-bg1024.svg);
    position: absolute;
    right: 2.93vw;
    bottom: -54.297vw;
    width: 43.652vw;
    padding: 1.855vw 2.344vw 2.539vw 3.809vw;
    gap: 1.465vw;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper p {
    font-size: 1.465vw;
    line-height: 2.148vw;
  }
  .colection .colection__container .colection__galery {
    height: 54.199vw;
  }
  .colection .colection__container .colection__galery .container1 {
    width: 13.446vw;
    height: 14.455vw;
    top: 0.977vw;
  }
  .colection .colection__container .colection__galery .container2 {
    width: 20.514vw;
    height: 22.053vw;
    left: 16.113vw;
    top: 4.199vw;
  }
  .colection .colection__container .colection__galery .container3 {
    width: 29.583vw;
    height: 31.802vw;
    left: 32.227vw;
    top: 0.977vw;
  }
  .colection .colection__container .colection__galery .container4 {
    width: 18.22vw;
    height: 19.587vw;
    left: 64.551vw;
    top: 4.199vw;
    z-index: 2;
  }
  .colection .colection__container .colection__galery .container5 {
    width: 8.539vw;
    height: 9.179vw;
    left: 85.547vw;
    top: 0.977vw;
  }
  .colection .colection__container .colection__galery .container6 {
    width: 14.119vw;
    height: 15.178vw;
    left: 79.98vw;
    top: 16.895vw;
  }
  .colection .colection__container .colection__galery .colection__descrition {
    gap: 1.953vw;
  }
  .colection .colection__container .colection__galery .colection__descrition span {
    margin: 1.172vw 0 0 0;
    padding: 0.293vw 1.953vw 0 0.781vw;
    border-radius: 0.195vw 0vw 0vw 0.195vw;
    height: 2.246vw;
    font-size: 1.953vw;
    line-height: 1.953vw;
  }
  .colection .colection__container .colection__galery .colection__descrition ul {
    padding: 1.465vw 0 1.465vw 1.953vw;
    border-left: 1px solid #252530;
    gap: 0.977vw;
  }
  .colection .colection__container .colection__galery .colection__descrition ul li {
    font-size: 1.953vw;
    line-height: 1.953vw;
  }
  .vertical__wrapper {
    height: 350vh;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container {
    width: 94.141vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__title {
    font-size: 7.617vw;
    line-height: 7.617vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__subtitle {
    margin: 0.977vw 0 0 0;
    padding: 0.586vw 2.539vw 0 0.586vw;
    width: 33.691vw;
    border-radius: 0.195vw 0vw 0vw 0.195vw;
    font-size: 1.953vw;
    line-height: 1.953vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider {
    margin: 5.859vw 0 0 0;
    gap: 35.84vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container {
    gap: 1.172vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button {
    width: 3.711vw;
    height: 3.711vw;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button .arrow {
    width: 1.237vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text {
    width: 45.605vw;
    bottom: auto;
    top: 6.152vw;
    font-size: 1.758vw;
    line-height: 2.734vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container {
    width: 7.031vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #first-number {
    font-size: 4.102vw;
    line-height: 3.223vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #last-number {
    font-size: 2.539vw;
    line-height: 2.539vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer {
    gap: 2.93vw;
    transform: translateY(102%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__title {
    font-size: 16.113vw;
    line-height: 16.113vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__subtitle {
    font-size: 2.148vw;
    line-height: 2.148vw;
    padding: 0.4% 1.953vw 0 0.586vw;
    border-radius: 0.195vw 0vw 0vw 0.195vw;
    transform: translateX(-100%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__description {
    width: 33.691vw;
    font-size: 1.465vw;
    line-height: 2.148vw;
    transform: translateX(-165%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer {
    transform: translateY(50%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__title {
    transform: translateY(0);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__subtitle {
    transform: translateX(180%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer {
    transform: translateY(0%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__subtitle {
    transform: translateX(180%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__description {
    transform: translateX(0%);
  }
  .road {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .road .road__container {
    width: 100%;
    height: auto;
    position: relative;
  }
  .road .road__container .slider__button-container2 {
    display: flex;
    position: absolute;
    z-index: 4;
    right: 2.93vw;
    top: 0;
    gap: 1.172vw;
  }
  .road .road__container .slider__button-container2 .button {
    width: 3.711vw;
    height: 3.711vw;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: 0.25s ease-out background;
  }
  .road .road__container .slider__button-container2 .button .arrow {
    transform: rotate(-90deg);
    width: 1.237vw;
    height: auto;
  }
  .road .road__container .slider__button-container2 .button:hover {
    background: #7732ea;
  }
  .road .road__container .slider__button-container2 .button-next2 .arrow {
    transform: rotate(90deg);
  }
  .road .road__container .slide-wrapper {
    display: flex;
    width: auto;
    height: auto;
  }
  .road .road__container .slide-wrapper .road__background {
    display: none;
  }
  .road .road__container .slide-wrapper .road__background1024 {
    display: block;
    width: 680vw;
    transform: translateY(-55%);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    height: auto;
  }
  .road .road__container .slide-wrapper .road-slide {
    z-index: 2;
    height: auto;
    gap: 30.273vw;
    padding: 0;
    flex-direction: column;
    width: 100vw;
    flex-shrink: 0;
  }
  .road .road__container .slide-wrapper .road-slide.right {
    flex-direction: column;
    justify-content: flex-start;
  }
  .road .road__container .slide-wrapper .road-slide.right .left-block {
    display: flex;
  }
  .road .road__container .slide-wrapper .road-slide.right .left-block .date::after {
    transform: translateX(-169%);
  }
  .road .road__container .slide-wrapper .road-slide.right .right-block {
    align-items: start;
  }
  .road .road__container .slide-wrapper .road-slide.right .right-block p {
    text-align: start;
  }
  .road .road__container .slide-wrapper .road-slide.right .right-block .checker {
    margin: 0;
  }
  .road .road__container .slide-wrapper .road-slide .left-block {
    margin: 0 0 0 2.93vw;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    gap: 0.586vw;
  }
  .road .road__container .slide-wrapper .road-slide .left-block::before {
    content: "";
    display: block;
    height: 2.148vw;
    width: 1px;
    background: #c5c5c5;
    mix-blend-mode: color-dodge;
    position: absolute;
    left: 0;
    bottom: -23%;
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date {
    width: 11.719vw;
    font-size: 6.055vw;
    line-height: 6.055vw;
    -webkit-text-stroke: 0.195vw rgb(255, 255, 255);
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date::after {
    display: none;
  }
  .road .road__container .slide-wrapper .road-slide .left-block strong {
    font-size: 6.055vw;
    line-height: 6.055vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block {
    padding: 0;
    gap: 1.27vw;
    width: 68.359vw;
    margin: 0 0 0 2.93vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .title {
    font-size: 2.734vw;
    line-height: 2.734vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .subtitle {
    font-size: 1.465vw;
    line-height: 2.148vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .checker {
    display: flex;
    order: -1;
    margin: 0;
    width: 6.836vw;
  }
  .road .road__container .auto__wrapper {
    height: auto;
    transform: translateY(-14%);
    z-index: 2;
  }
  .road .road__container .auto__wrapper .auto__container {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    transition: 1.5s ease-in-out transform;
    z-index: 1;
  }
  .road .road__container .auto__wrapper .auto__container .auto {
    width: 39.355vw;
    transform: rotate(-90deg);
    margin: 0;
  }
  .road .road__container .auto__wrapper .auto__container.right {
    transform: translateX(0);
  }
  .road .road__container .auto__wrapper .auto__container.left {
    transform: translateX(0);
  }
  .road .road__container .auto__wrapper .auto__container.left .auto-circle {
    transform: translateX(0);
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle {
    width: 15.723vw;
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle-slide {
    width: 13.672vw;
    box-shadow: 0vw 0vw 9.766vw 4.59vw rgba(0, 0, 0, 0.74);
  }
  .about .car {
    right: 4.59vw;
    bottom: 25%;
    width: 27.734vw;
    z-index: 1;
  }
  .about .people {
    right: 2.93vw;
    bottom: 40%;
    width: 16.602vw;
  }
  .about .about__container {
    width: 94.141vw;
  }
  .about .about__container .about__left-block {
    width: 61.816vw;
    border-right: 1px solid #252530;
  }
  .about .about__container .about__left-block .about__title {
    font-size: 7.617vw;
    line-height: 7.617vw;
  }
  .about .about__container .about__left-block .about__descriptions {
    gap: 1.953vw;
    padding: 2.93vw 2.93vw 2.93vw 0;
  }
  .about .about__container .about__left-block .about__descriptions:nth-child(2) {
    border-bottom: 1px solid #252530;
  }
  .about .about__container .about__left-block .about__descriptions img {
    width: 6.25vw;
    height: 6.25vw;
  }
  .about .about__container .about__left-block .about__descriptions .texst {
    gap: 0.977vw;
  }
  .about .about__container .about__left-block .about__descriptions .texst p {
    font-size: 1.465vw;
    line-height: 2.148vw;
  }
  .about .about__container .about__left-block .whitepaper {
    margin: 0 0 0 8.203vw;
    width: 16.113vw;
    height: 4.297vw;
    font-size: 1.172vw;
    line-height: 1.367vw;
    border-radius: 0.293vw;
  }
  .about .about__container .about__left-block .whitepaper::before {
    border-radius: 0.293vw;
  }
  .about .about__container .about__sticker {
    margin: 0 0 0 2.93vw;
    padding: 0.781vw 5.176vw 1.074vw 1.27vw;
    border-radius: 0.195vw 0vw 0vw 0.195vw;
  }
  .about .about__container .about__sticker span {
    font-size: 5.078vw;
    line-height: 5.078vw;
  }
  .about .about__container .about__sticker strong {
    box-sizing: content-box;
    padding: 0 0 0 2.637vw;
    width: 15.625vw;
    font-size: 1.465vw;
    line-height: 1.953vw;
  }
  .wrapper-footer {
    overflow: hidden;
  }
  .wrapper-footer .footer-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .wrapper-footer .car-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 141.797vw;
    z-index: 1;
  }
  .wrapper-footer .faq .faq__container {
    width: 94.141vw;
    gap: 3.906vw;
  }
  .wrapper-footer .faq .faq__container .faq__title {
    font-size: 7.617vw;
    line-height: 7.617vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item {
    gap: 4.883vw;
    height: 6.25vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-circle {
    margin: 2.344vw 0 0 0;
    width: 0.879vw;
    height: 0.879vw;
    border: 1px solid #ffffff;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-number {
    margin: 2.344vw 0 0 3.223vw;
    font-size: 1.367vw;
    line-height: 1.563vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text {
    padding: 2.344vw 0 2.441vw 0;
    gap: 0.781vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text h3 {
    font-size: 1.953vw;
    line-height: 2.148vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text p {
    padding: 0 0 2.344vw 0;
    font-size: 1.367vw;
    line-height: 2.148vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-circle {
    border: 1px solid #7732ea;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-circle {
    border: 1px solid #7732ea;
  }
  .wrapper-footer .team {
    padding: 8vh 0 4vh 0;
    height: auto;
    display: block;
  }
  .wrapper-footer .team .team-container {
    width: 94.141vw;
  }
  .wrapper-footer .team .team-container .team__title {
    font-size: 7.617vw;
    line-height: 7.617vw;
  }
  .wrapper-footer .team .team-container .people__container {
    margin: 5.859vw 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people {
    width: 33.691vw;
    position: relative;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(2) {
    margin: 27.246vw 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(3) {
    margin: -7.813vw 0 0 0;
  }
  .wrapper-footer .team .team-container .people__container .people .inst {
    width: 3.711vw;
    height: 3.711vw;
    left: 2.93vw;
    border: 1px solid #7732ea;
  }
  .wrapper-footer .team .team-container .people__container .people .inst svg {
    width: 1.758vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle {
    right: 1.465vw;
    top: 6.836vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .circle {
    width: 18.066vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .car {
    width: 15.82vw;
  }
  .wrapper-footer .team .team-container .people__container .people .photo {
    width: 23.926vw;
  }
  .wrapper-footer .team .team-container .people__container .people .name {
    font-size: 2.734vw;
    line-height: 2.734vw;
    margin: 0 0 0 3.418vw;
  }
  .wrapper-footer .team .team-container .people__container .people .description {
    margin: 0.977vw 0 0 3.418vw;
    font-size: 1.465vw;
    line-height: 2.148vw;
  }
  .wrapper-footer .footer {
    padding: 42.578vw 0 0 0;
  }
  .wrapper-footer .footer .footer__container {
    padding: 0 0 4.395vw 0;
    width: 94.141vw;
  }
  .wrapper-footer .footer .footer__container .register {
    bottom: 17.578vw;
    width: 16.113vw;
    height: 4.297vw;
    font-size: 1.172vw;
    line-height: 1.367vw;
    border-radius: 0.293vw;
  }
  .wrapper-footer .footer .footer__container .register::before {
    border-radius: 0.293vw;
  }
  .wrapper-footer .footer .footer__container .rights {
    font-size: 1.367vw;
    line-height: 1.953vw;
  }
  .wrapper-footer .footer .footer__container .footer__social {
    transform: translateX(-31.5%);
    gap: 1.172vw;
  }
  .wrapper-footer .footer .footer__container .footer__social a {
    width: 3.32vw;
    height: 3.32vw;
    border: 1px solid rgba(255, 255, 255, 0.082352);
  }
  .wrapper-footer .footer .footer__container .footer__social a img {
    width: 1.758vw;
  }
  .wrapper-footer .footer .footer__container strong {
    font-size: 1.367vw;
    line-height: 1.27vw;
    gap: 0.586vw;
  }
  .wrapper-footer .footer .footer__container strong a svg {
    width: 8.789vw;
  }
}/*# sourceMappingURL=1024.css.map */