@media only screen and (max-width: 1280px) {
  .wrapper {
    .preloader {
      .load {
        bottom: 7.813vw;
      }
    }
    &.preloader {
      .logo {
        position: fixed;
        
      }
    }
  }
  .logo {
    position: absolute;
    top: 1.953vw;
    left: 2.93vw;
    width: 6.25vw;
    height: auto;
    transition: none;
  }
  .welcome__wrapper {
    .welcome {
      .welcome-bg {
        bottom: 0;
        top: auto;
        height: auto;
        width: 120%;
        &.active {
          filter: blur(0.293vw);
        }
      }
      .social {
        position: absolute;
        left: 4.395vw;
        top: 12.109vw;
        gap: 0.977vw;
        a {
          width: 3.32vw;
          height: 3.32vw;
          border: 1px solid #ffffff15;
          img {
            width: 1.758vw;
          }
        }
      }
      .welcome__top-block {
        top: 11.914vw;
        left: 46.289vw;
        transform: translateX(0);
        .welcome__top-block-title {
          font-size: 6.641vw;
          line-height: 5.664vw;
        }
        .welcome__top-block-subtitle {
          width: 29.297vw;
          font-size: 1.465vw;
          line-height: 1.953vw;
          margin: 0 0 0 5.078vw;
        }
        .welcome__top-block-button {
          margin: 1.953vw 0 0 5.078vw;
          width: 16.113vw;
          height: 4.297vw;
          border-radius: 0.293vw;
          font-size: 1.172vw;
          line-height: 1.367vw;
          &::before {
            border-radius: 0.293vw;
          }
        }
      }
      .title {
        left: 2.93vw;
        bottom: 1.172vw;
        font-size: 3.711vw;
        line-height: 4.395vw;
        span {
          font-size: 9.961vw;
          line-height: 9.961vw;
        }
      }
      .video__wrapper {
        padding: 2.93vw;

        #video {
          border-radius: 0.781vw;
        }
        .control {
          bottom: 4.883vw;
          left: 4.883vw;
          gap: 0.977vw;
          .control-button {
            width: 3.32vw;
            height: 3.32vw;
            border: 1px solid #ffffff;
            svg {
              width: 1.172vw;
              height: auto;
              transition: 0.25s ease-out opacity;
              .icon {
                transition: 0.25s ease-out fill;
              }
            }
          }
          .muted {
            svg {
              width: 1.855vw;
            }
          }
          #progress {
            width: 35.352vw;
            height: 0.391vw;
            margin: 0 0.488vw;
            border-radius: 9.766vw;
          }
          #out {
            font-size: 1.367vw;
            line-height: 1.66vw;
          }
        }
      }
    }
  }
  .colection {
    .colection__container {
      width: 94.141vw;
      overflow: hidden;
      .colection__top-block {
        position: relative;
        .colection__title {
          font-size: 7.617vw;
          line-height: 7.617vw;
          width: max-content;
        }
        .colection__subtitle-wrapper {
          background-image: url(../img/colection/colection-bg1024.svg);
          position: absolute;
          right: 2.93vw;
          bottom: -54.297vw;
          width: 43.652vw;
          padding: 1.855vw 2.344vw 2.539vw 3.809vw;
          gap: 1.465vw;
          p {
            font-size: 1.465vw;
            line-height: 2.148vw;
          }
        }
      }
      .colection__galery {
        height: 54.199vw;
        .container1 {
          width: 13.446vw;
          height: 14.455vw;
          top: 0.977vw;
        }
        .container2 {
          width: 20.514vw;
          height: 22.053vw;
          left: 16.113vw;
          top: 4.199vw;
        }
        .container3 {
          width: 29.583vw;
          height: 31.802vw;
          left: 32.227vw;
          top: 0.977vw;
        }
        .container4 {
          width: 18.22vw;
          height: 19.587vw;
          left: 64.551vw;
          top: 4.199vw;
          z-index: 2;
        }
        .container5 {
          width: 8.539vw;
          height: 9.179vw;
          left: 85.547vw;
          top: 0.977vw;
        }
        .container6 {
          width: 14.119vw;
          height: 15.178vw;
          left: 79.98vw;
          top: 16.895vw;
        }
        .colection__descrition {
          gap: 1.953vw;
          span {
            margin: 1.172vw 0 0 0;
            padding: 0.293vw 1.953vw 0 0.781vw;
            border-radius: 0.195vw 0vw 0vw 0.195vw;
            height: 2.246vw;
            font-size: 1.953vw;
            line-height: 1.953vw;
          }
          ul {
            padding: 1.465vw 0 1.465vw 1.953vw;
            border-left: 1px solid #252530;
            gap: 0.977vw;
            li {
              font-size: 1.953vw;
              line-height: 1.953vw;
            }
          }
        }
      }
    }
  }
  .vertical__wrapper {
    height: 350vh;
    .vertical-container {
      .vertical-content {
        .utility {
          .utility__container {
            width: 94.141vw;
            .utility__title {
              font-size: 7.617vw;
              line-height: 7.617vw;
            }
            .utility__subtitle {
              margin: 0.977vw 0 0 0;
              padding: 0.586vw 2.539vw 0 0.586vw;
              width: 33.691vw;
              border-radius: 0.195vw 0vw 0vw 0.195vw;
              font-size: 1.953vw;
              line-height: 1.953vw;
            }
            .utility__slider {
              margin: 5.859vw 0 0 0;
              gap: 35.84vw;
              .slider__button-container {
                gap: 1.172vw;
                .button {
                  width: 3.711vw;
                  height: 3.711vw;
                  border: 1px solid #ffffff15;
                  .arrow {
                    width: 1.237vw;
                  }
                }
              }
              .slider__text {
                width: 45.605vw;
                bottom: auto;
                top: 6.152vw;
                font-size: 1.758vw;
                line-height: 2.734vw;
              }
              .utility__number-container {
                width: 7.031vw;
                #first-number {
                  font-size: 4.102vw;
                  line-height: 3.223vw;
                }
                #last-number {
                  font-size: 2.539vw;
                  line-height: 2.539vw;
                }
              }
            }
          }
        }
        .roadmap {
          .roadmap__continer {
            gap: 2.93vw;
            transform: translateY(102%);
            .roadmap__title {
              font-size: 16.113vw;
              line-height: 16.113vw;
            }
            .roadmap__subtitle {
              font-size: 2.148vw;
              line-height: 2.148vw;
              padding: 0.4% 1.953vw 0 0.586vw;
              border-radius: 0.195vw 0vw 0vw 0.195vw;
              transform: translateX(-100%);
            }
            .roadmap__description {
              width: 33.691vw;
              font-size: 1.465vw;
              line-height: 2.148vw;
              transform: translateX(-165%);
            }
          }
          &.step-one {
            .roadmap__continer {
              transform: translateY(50%);
              .roadmap__title {
                transform: translateY(0);
              }
              .roadmap__subtitle {
                transform: translateX(180%);
              }
            }
          }
          &.step-two {
            .roadmap__continer {
              transform: translateY(0%);
              .roadmap__subtitle {
                transform: translateX(180%);
              }
              .roadmap__description {
                transform: translateX(0%);
              }
            }
          }
        }
      }
    }
  }
  .road {
    height: 100vh;
    display: flex;
    align-items: center;
    .road__container {
      width: 100%;
      height: auto;
      position: relative;
      .slider__button-container2 {
        display: flex;
        position: absolute;
        z-index: 4;
        right: 2.93vw;
        top: 0;
        gap: 1.172vw;
        .button {
          width: 3.711vw;
          height: 3.711vw;
          border: 1px solid #ffffff15;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          transition: 0.25s ease-out background;
          .arrow {
            transform: rotate(-90deg);
            width: 1.237vw;
            height: auto;
          }
          &:hover {
            background: #7732ea;
          }
        }
        .button-next2 {
          .arrow {
            transform: rotate(90deg);
          }
        }
      }
      .slide-wrapper {
        display: flex;
        width: auto;
        height: auto;

        .road__background {
          display: none;
        }
        .road__background1024 {
          display: block;
          width: 680vw;
          transform: translateY(-55%);
          position: absolute;
          left: 0;
          top: 50%;
          z-index: 1;
          height: auto;
        }
        .road-slide {
          z-index: 2;
          height: auto;
          gap: 30.273vw;
          padding: 0;
          flex-direction: column;
          width: 100vw;
          flex-shrink: 0;
          &.right {
            flex-direction: column;
            justify-content: flex-start;
            .left-block {
              display: flex;
              .date {
                &::after {
                  transform: translateX(-169%);
                }
              }
            }
            .right-block {
              align-items: start;
              p {
                text-align: start;
              }
              .checker {
                margin: 0;
              }
            }
          }
          .left-block {
            margin: 0 0 0 2.93vw;
            flex-direction: row-reverse;
            justify-content: flex-end;
            position: relative;
            gap: 0.586vw;
            &::before {
              content: "";
              display: block;
              height: 2.148vw;
              width: 1px;
              background: #c5c5c5;
              mix-blend-mode: color-dodge;
              position: absolute;
              left: 0;
              bottom: -23%;
            }
            .date {
              width: 11.719vw;
              font-size: 6.055vw;
              line-height: 6.055vw;
              -webkit-text-stroke: 0.195vw rgb(255, 255, 255);
              &::after {
                display: none;
              }
            }
            strong {
              font-size: 6.055vw;
              line-height: 6.055vw;
            }
          }
          .right-block {
            padding: 0;
            gap: 1.27vw;
            width: 68.359vw;
            margin: 0 0 0 2.93vw;
            .title {
              font-size: 2.734vw;
              line-height: 2.734vw;
            }
            .subtitle {
              font-size: 1.465vw;
              line-height: 2.148vw;
            }
            .checker {
              display: flex;
              order: -1;
              margin: 0;
              width: 6.836vw;
            }
          }
        }
      }
      .auto__wrapper {
        height: auto;
        transform: translateY(-14%);
        z-index: 2;
        .auto__container {
          width: max-content;
          margin: 0 auto;
          transition: 1.5s ease-in-out transform;
          z-index: 1;

          .auto {
            width: 39.355vw;
            transform: rotate(-90deg);
            margin: 0;
          }
          &.right {
            transform: translateX(0);
          }
          &.left {
            transform: translateX(0);
            .auto-circle {
              transform: translateX(0);
            }
          }
          .auto-circle {
            .circle {
              width: 15.723vw;
            }
            .circle-slide {
              width: 13.672vw;
              -webkit-box-shadow: 0vw 0vw 9.766vw 4.59vw rgba(0, 0, 0, 0.74);
              -moz-box-shadow: 0vw 0vw 9.766vw 4.59vw rgba(0, 0, 0, 0.74);
              box-shadow: 0vw 0vw 9.766vw 4.59vw rgba(0, 0, 0, 0.74);
            }
          }
        }
      }
    }
  }
  .about {
    .car {
      right: 4.59vw;
      bottom: 25%;
      width: 27.734vw;
      z-index: 1;
    }
    .people {
      right: 2.93vw;
      bottom: 40%;
      width: 16.602vw;
    }
    .about__container {
      width: 94.141vw;
      .about__left-block {
        width: 61.816vw;
        border-right: 1px solid #252530;
        .about__title {
          font-size: 7.617vw;
          line-height: 7.617vw;
        }
        .about__descriptions {
          gap: 1.953vw;
          padding: 2.93vw 2.93vw 2.93vw 0;
          &:nth-child(2) {
            border-bottom: 1px solid #252530;
          }
          img {
            width: 6.25vw;
            height: 6.25vw;
          }
          .texst {
            gap: 0.977vw;
            p {
              font-size: 1.465vw;
              line-height: 2.148vw;
            }
          }
        }
        .whitepaper {
          margin: 0 0 0 8.203vw;
          width: 16.113vw;
          height: 4.297vw;

          font-size: 1.172vw;
          line-height: 1.367vw;
          border-radius: 0.293vw;
          &::before {
            border-radius: 0.293vw;
          }
        }
      }
      .about__sticker {
        margin: 0 0 0 2.93vw;
        padding: 0.781vw 5.176vw 1.074vw 1.27vw;
        border-radius: 0.195vw 0vw 0vw 0.195vw;

        span {
          font-size: 5.078vw;
          line-height: 5.078vw;
        }
        strong {
          box-sizing: content-box;
          padding: 0 0 0 2.637vw;
          width: 15.625vw;
          font-size: 1.465vw;
          line-height: 1.953vw;
        }
      }
    }
  }
  .wrapper-footer {
    overflow: hidden;
    .footer-bg {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
    }
    .car-footer {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 141.797vw;
      z-index: 1;
    }
    .faq {
      .faq__container {
        width: 94.141vw;
        gap: 3.906vw;
        .faq__title {
          font-size: 7.617vw;
          line-height: 7.617vw;
        }
        .faq__acordeon {
          .acordeon-item {
            gap: 4.883vw;
            height: 6.25vw;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .item-circle {
              margin: 2.344vw 0 0 0;
              width: 0.879vw;
              height: 0.879vw;
              border: 1px solid #ffffff;
            }
            .item-number {
              margin: 2.344vw 0 0 3.223vw;
              font-size: 1.367vw;
              line-height: 1.563vw;
            }
            .item-text {
              padding: 2.344vw 0 2.441vw 0;
              gap: 0.781vw;
              h3 {
                font-size: 1.953vw;
                line-height: 2.148vw;
              }
              p {
                padding: 0 0 2.344vw 0;
                font-size: 1.367vw;
                line-height: 2.148vw;
              }
            }
            &.active {
              .item-circle {
                border: 1px solid #7732ea;
              }
            }
            &:hover {
              .item-circle {
                border: 1px solid #7732ea;
              }
            }
          }
        }
      }
    }
    .team {
      padding: 8vh 0 4vh 0;
      height: auto;
      display: block;
      .team-container {
        width: 94.141vw;
        .team__title {
          font-size: 7.617vw;
          line-height: 7.617vw;
        }
        .people__container {
          margin: 5.859vw 0 0 0;
          .people {
            width: 33.691vw;
            position: relative;
            &:nth-child(2) {
              margin: 27.246vw 0 0 0;
            }
            &:nth-child(3) {
              margin: -7.813vw 0 0 0;
            }
            .inst {
              width: 3.711vw;
              height: 3.711vw;
              left: 2.93vw;
              border: 1px solid #7732ea;
              svg {
                width: 1.758vw;
              }
            }
            .people-circle {
              right: 1.465vw;
              top: 6.836vw;
              .circle {
                width: 18.066vw;
              }
              .car {
                width: 15.82vw;
              }
            }
            .photo {
              width: 23.926vw;
            }
            .name {
              font-size: 2.734vw;
              line-height: 2.734vw;
              margin: 0 0 0 3.418vw;
            }
            .description {
              margin: 0.977vw 0 0 3.418vw;
              font-size: 1.465vw;
              line-height: 2.148vw;
            }
          }
        }
      }
    }
    .footer {
      padding: 42.578vw 0 0 0;
      .footer__container {
        padding: 0 0 4.395vw 0;
        width: 94.141vw;
        .register {
          bottom: 17.578vw;
          width: 16.113vw;
          height: 4.297vw;
          font-size: 1.172vw;
          line-height: 1.367vw;
          border-radius: 0.293vw;
          &::before {
            border-radius: 0.293vw;
          }
        }
        .rights {
          font-size: 1.367vw;
          line-height: 1.953vw;
        }
        .footer__social {
          transform: translateX(-31.5%);
          gap: 1.172vw;
          a {
            width: 3.32vw;
            height: 3.32vw;
            border: 1px solid rgba(255, 255, 255, 0.082352);
            img {
              width: 1.758vw;
            }
          }
        }
        strong {
          font-size: 1.367vw;
          line-height: 1.27vw;
          gap: 0.586vw;
          a {
            svg {
              width: 8.789vw;
            }
          }
        }
      }
    }
  }
}
