@keyframes buttom-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 0.521vw;
}
body::-webkit-scrollbar-track {
  background-color: #0b0b0c;
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0.521vw 0.521vw 0.521vw 0.521vw rgb(7, 222, 218);
  border-radius: 0.104vw;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #0b0b0c;
  position: relative;
}
.wrapper .preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: #0b0b0c;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s ease-in-out opacity;
  display: flex;
  align-items: end;
}
.wrapper .preloader .load {
  position: relative;
  margin: 0 auto;
  bottom: 4.688vw;
  width: 25px;
  height: auto;
  animation: 1s load linear infinite;
}
.wrapper.preloader .preloader {
  opacity: 1;
}
.wrapper.preloader .logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
}

.logo {
  position: fixed;
  top: 2.083vw;
  left: 2.604vw;
  width: 4.167vw;
  height: auto;
  z-index: 10;
  transition: 1s ease-in-out top, 1s ease-in-out left, 1s ease-in-out transform;
}

.welcome__wrapper {
  height: 200vh;
}
.welcome__wrapper .welcome {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}
.welcome__wrapper .welcome .welcome-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease-in-out transform, 1s ease-in-out filter, 0.7s opacity 0.3s ease-in-out;
}
.welcome__wrapper .welcome .welcome-bg.active {
  transform: rotate(15deg) scale(1.1);
  filter: blur(0.156vw);
  opacity: 0;
}
.welcome__wrapper .welcome .social {
  position: absolute;
  left: 3.646vw;
  top: 8.854vw;
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
}
.welcome__wrapper .welcome .social a {
  width: 1.979vw;
  height: 1.979vw;
  border: 1px solid rgba(255, 255, 255, 0.0823529412);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s background ease-out;
}
.welcome__wrapper .welcome .social a img {
  width: 1.042vw;
  height: auto;
}
.welcome__wrapper .welcome .social a:hover {
  background: #7732ea;
}
.welcome__wrapper .welcome .welcome__top-block {
  position: absolute;
  top: 8.802vw;
  left: 50%;
  transform: translateX(-50%);
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.833vw;
  line-height: 4.792vw;
  color: #ffffff;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-subtitle {
  width: 17.292vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938vw;
  line-height: 1.354vw;
  color: #ffffff;
  margin: 0 0 0 4.479vw;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button {
  position: absolute;
  margin: 1.563vw 0 0 4.479vw;
  width: 10.417vw;
  height: 2.76vw;
  background: linear-gradient(271.14deg, #7732ea 0.99%, #009afe 50.02%, #7732ea 99.04%);
  border-radius: 0.208vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 0.885vw;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-size: 200% 200%;
  animation: 3s buttom-bg linear infinite;
  overflow: hidden;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button span {
  position: relative;
  z-index: 1;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #7732ea;
  border-radius: 0.208vw;
  opacity: 0;
  z-index: 0;
  transition: 0.25s ease-out opacity;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button:hover::before {
  opacity: 1;
}
.welcome__wrapper .welcome .title {
  position: absolute;
  left: 2.604vw;
  bottom: 2.083vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 3.125vw;
  line-height: 3.75vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.welcome__wrapper .welcome .title span {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 8.438vw;
  line-height: 8.438vw;
  color: #ffffff;
}
.welcome__wrapper .welcome .video__wrapper {
  position: absolute;
  padding: 1.563vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(100vh) scale(0.4);
  overflow: hidden;
  z-index: 2;
}
.welcome__wrapper .welcome .video__wrapper .youtube {
  display: none;
}
.welcome__wrapper .welcome .video__wrapper.active {
  transform: translateY(0) scale(1);
}
.welcome__wrapper .welcome .video__wrapper #video {
  border-radius: 0.521vw;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.welcome__wrapper .welcome .video__wrapper .control {
  position: absolute;
  bottom: 2.604vw;
  left: 2.604vw;
  display: flex;
  align-items: center;
  gap: 0.521vw;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button {
  width: 2.083vw;
  height: 2.083vw;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background: none;
  transition: 0.25s ease-out background;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button svg {
  width: 0.625vw;
  height: auto;
  transition: 0.25s ease-out opacity;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button svg .icon {
  transition: 0.25s ease-out fill;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button:hover {
  background: #ffffff;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button:hover svg .icon {
  fill: #0b0b0c;
}
.welcome__wrapper .welcome .video__wrapper .control .pause {
  display: none;
}
.welcome__wrapper .welcome .video__wrapper .control .muted-off {
  display: none;
}
.welcome__wrapper .welcome .video__wrapper .control .muted svg {
  width: 0.99vw;
  height: auto;
}
.welcome__wrapper .welcome .video__wrapper .control #progress {
  overflow: hidden;
  width: 18.854vw;
  height: 0.26vw;
  margin: 0 0.26vw;
  accent-color: rgba(255, 0, 0, 0.9);
  border-radius: 5.208vw;
  cursor: pointer;
}
.welcome__wrapper .welcome .video__wrapper .control #progress::-webkit-progress-value {
  background: #009afe;
}
.welcome__wrapper .welcome .video__wrapper .control #out {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 0.99vw;
  color: #ffffff;
}

.colection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.colection .colection__container {
  margin: 0 auto;
  width: 72.917vw;
}
.colection .colection__container .colection__top-block {
  display: flex;
  justify-content: space-between;
}
.colection .colection__container .colection__top-block .colection__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
  width: 33.333vw;
}
.colection .colection__container .colection__top-block .colection__subtitle-wrapper {
  width: 36.198vw;
  padding: 0.99vw 1.25vw 1.354vw 2.031vw;
  background-image: url(../img/colection/colection-bg.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 0.781vw;
}
.colection .colection__container .colection__top-block .colection__subtitle-wrapper p {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.colection .colection__container .colection__galery {
  display: flex;
  position: relative;
  height: 28.177vw;
}
.colection .colection__container .colection__galery .colection__galery-container {
  overflow: hidden;
  position: absolute;
}
.colection .colection__container .colection__galery .colection__galery-container .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.5s ease-out;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide.active {
  transform: translateX(0);
  z-index: 1;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide.noactive {
  transform: translateX(-100%);
  z-index: 1;
}
.colection .colection__container .colection__galery .container1 {
  width: 10.417vw;
  height: 11.198vw;
  left: 0;
  top: -1.979vw;
}
.colection .colection__container .colection__galery .container2 {
  width: 15.885vw;
  height: 17.083vw;
  left: 12.5vw;
  top: -1.979vw;
}
.colection .colection__container .colection__galery .container3 {
  width: 22.917vw;
  height: 24.635vw;
  left: 25vw;
  top: 1.927vw;
}
.colection .colection__container .colection__galery .container4 {
  width: 14.115vw;
  height: 15.156vw;
  left: 50vw;
  top: 5.781vw;
}
.colection .colection__container .colection__galery .container5 {
  width: 6.615vw;
  height: 7.135vw;
  left: 66.302vw;
  top: 1.927vw;
}
.colection .colection__container .colection__galery .container6 {
  width: 10.938vw;
  height: 11.771vw;
  left: 61.979vw;
  top: 16.406vw;
}
.colection .colection__container .colection__galery .colection__descrition {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 1.667vw;
}
.colection .colection__container .colection__galery .colection__descrition span {
  margin: 0.885vw 0 0 0;
  display: flex;
  align-items: center;
  padding: 0.156vw 1.042vw 0 0.417vw;
  background: #07deda;
  border-radius: 0.104vw 0vw 0vw 0.104vw;
  width: auto;
  height: 1.354vw;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: #0b0b0c;
}
.colection .colection__container .colection__galery .colection__descrition ul {
  padding: 1.042vw 0 1.042vw 1.563vw;
  border-left: 0.052vw solid #252530;
  display: flex;
  flex-direction: column;
  gap: 0.781vw;
}
.colection .colection__container .colection__galery .colection__descrition ul li {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: #ffffff;
}

.vertical__wrapper {
  height: 300vh;
}
.vertical__wrapper .vertical-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.vertical__wrapper .vertical-container .vertical-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(0);
  transition: 0.75s ease-in-out transform;
}
.vertical__wrapper .vertical-container .vertical-content.step-one {
  transform: translateY(-50%);
}
.vertical__wrapper .vertical-container .vertical-content.step-one .utility {
  transform: translateY(100%);
  opacity: 0;
}
.vertical__wrapper .vertical-container .vertical-content .utility {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: translateY(0);
  transition: 0.75s ease-in-out transform, 0.75s ease-in-out opacity;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container {
  margin: 0 auto;
  width: 72.917vw;
  z-index: 2;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__title {
  position: relative;
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__subtitle {
  display: flex;
  align-items: center;
  margin: 0.521vw 0 0 0;
  padding: 0.208vw 1.458vw 0 0.417vw;
  width: 21.875vw;
  background: #07deda;
  border-radius: 0.104vw 0vw 0vw 0.104vw;
  height: auto;
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: #0b0b0c;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider {
  position: relative;
  margin: 4.271vw 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20.573vw;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container {
  display: flex;
  gap: 0.781vw;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button {
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.0823529412);
  background: none;
  transition: 0.25s ease-out background;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button .arrow {
  transform: rotate(-90deg);
  width: 1.042vw;
  height: auto;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button:hover {
  background: #7732ea;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button-next .arrow {
  transform: rotate(90deg);
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text {
  position: absolute;
  width: 35.938vw;
  left: 0;
  bottom: 7.031vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.667vw;
  color: #ffffff;
  opacity: 0;
  transform: translateX(300%);
  transition: 0.5s ease-in-out transform, 0.5s ease-in-out opacity;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text.active {
  opacity: 1;
  transform: translateX(0);
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text.noactive {
  transform: translateX(-100%);
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container {
  width: 8.854vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #first-number {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 5.313vw;
  line-height: 4.01vw;
  text-transform: uppercase;
  color: #ffffff;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #last-number {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 2.708vw;
  line-height: 2.708vw;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.1;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__slide {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out transform, 0.5s ease-in-out opacity;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__slide.active {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}
.vertical__wrapper .vertical-container .vertical-content .utility .utility__slide.noactive {
  transform: translateY(0);
  opacity: 0;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer {
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  transform: translateY(102%);
  transition: 0.75s ease-in-out transform;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 12.604vw;
  line-height: 12.604vw;
  text-transform: uppercase;
  color: #ffffff;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__subtitle {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: #0b0b0c;
  background: #07deda;
  display: block;
  padding: 0.4% 1.042vw 0 0.417vw;
  border-radius: 0.104vw 0vw 0vw 0.104vw;
  width: -moz-max-content;
  width: max-content;
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  transform: translateX(-330%);
  transition: 0.75s ease-in-out 0.05s transform;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__description {
  width: 22.917vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
  transform: translateX(-215%);
  transition: 0.75s ease-in-out 0.1s transform;
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer {
  transform: translateY(50%);
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__title {
  transform: translateY(0);
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__subtitle {
  transform: translateX(307%);
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer {
  transform: translateY(0%);
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__subtitle {
  transform: translateX(307%);
}
.vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__description {
  transform: translateX(0%);
}

.road {
  width: 100%;
  transition: 0.75s ease-in-out margin;
  position: relative;
  height: 800vh;
}
.road .road__container {
  margin: 0 auto;
  width: 72.917vw;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
}
.road .road__container .slider__button-container2 {
  display: none;
}
.road .road__container .slide-wrapper {
  width: 100%;
  transition: 1.5s ease-in-out transform;
  position: relative;
}
.road .road__container .slide-wrapper .road__background1024 {
  display: none;
}
.road .road__container .slide-wrapper .road__background768 {
  display: none;
}
.road .road__container .slide-wrapper .road__background {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  z-index: -1;
}
.road .road__container .slide-wrapper.one {
  transform: translateY(-100vh);
}
.road .road__container .slide-wrapper.two {
  transform: translateY(-200vh);
}
.road .road__container .slide-wrapper.three {
  transform: translateY(-300vh);
}
.road .road__container .slide-wrapper.four {
  transform: translateY(-400vh);
}
.road .road__container .slide-wrapper.five {
  transform: translateY(-500vh);
}
.road .road__container .slide-wrapper.six {
  transform: translateY(-600vh);
}
.road .road__container .slide-wrapper .road-slide {
  height: 100vh;
  display: flex;
  gap: 5.573vw;
  padding: 13.802vw 0 0 0;
}
.road .road__container .slide-wrapper .road-slide.right {
  justify-content: end;
  flex-direction: row-reverse;
}
.road .road__container .slide-wrapper .road-slide.right .left-block .date::after {
  left: 0;
  right: auto;
  transform: translateX(-160%);
}
.road .road__container .slide-wrapper .road-slide.right .right-block {
  align-items: end;
}
.road .road__container .slide-wrapper .road-slide.right .right-block p {
  text-align: end;
}
.road .road__container .slide-wrapper .road-slide.right .right-block .checker {
  margin: 2.083vw 0 0 auto;
}
.road .road__container .slide-wrapper .road-slide .left-block {
  display: flex;
  flex-direction: column;
}
.road .road__container .slide-wrapper .road-slide .left-block .date {
  width: 10.417vw;
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 0.104vw rgb(255, 255, 255);
  position: relative;
}
.road .road__container .slide-wrapper .road-slide .left-block .date::after {
  position: absolute;
  content: "";
  right: 0;
  top: 41.6%;
  transform: translateX(166%);
  display: block;
  background: #c5c5c5;
  mix-blend-mode: color-dodge;
  width: 1.146vw;
  height: 0.104vw;
}
.road .road__container .slide-wrapper .road-slide .left-block strong {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
}
.road .road__container .slide-wrapper .road-slide .right-block {
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  width: 17.188vw;
  padding: 1.302vw 0 0 0;
}
.road .road__container .slide-wrapper .road-slide .right-block .title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 2.083vw;
  line-height: 2.188vw;
  text-transform: uppercase;
  color: #ffffff;
}
.road .road__container .slide-wrapper .road-slide .right-block .subtitle {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.road .road__container .slide-wrapper .road-slide .right-block .checker {
  margin: 2.083vw 0 0 0;
  width: 5.521vw;
}
.road .road__container .auto__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.road .road__container .auto__wrapper .auto__container {
  position: relative;
  width: 30.625vw;
  margin: 0 auto;
  transition: 1.5s ease-in-out transform;
}
.road .road__container .auto__wrapper .auto__container.right {
  transform: translateX(40%);
}
.road .road__container .auto__wrapper .auto__container.left {
  transform: translateX(-40%);
}
.road .road__container .auto__wrapper .auto__container.left .auto-circle {
  transform: translateX(10%);
}
.road .road__container .auto__wrapper .auto__container .auto {
  display: block;
  width: 100%;
}
.road .road__container .auto__wrapper .auto__container .auto-circle {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-107%);
  transition: 1.5s ease-in-out transform;
}
.road .road__container .auto__wrapper .auto__container .auto-circle .circle {
  width: 12.656vw;
  z-index: 2;
  position: relative;
}
.road .road__container .auto__wrapper .auto__container .auto-circle .circle-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.885vw;
  transform: translate(6%, 12%);
  opacity: 0;
  transition: 1.5s ease-in-out opacity;
  border-radius: 100%;
  box-shadow: 0vw 0vw 5.208vw 2.448vw rgba(0, 0, 0, 0.74);
}
.road .road__container .auto__wrapper .auto__container .auto-circle .circle-slide.active {
  opacity: 1;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .car {
  position: absolute;
  right: 3.229vw;
  bottom: 14%;
  width: 30.729vw;
  z-index: 1;
}
.about .people {
  position: absolute;
  right: 1.302vw;
  bottom: 35%;
  width: 18.594vw;
}
.about .about__container {
  margin: 0 auto;
  width: 72.917vw;
  display: flex;
}
.about .about__container .about__left-block {
  display: flex;
  flex-direction: column;
  width: 46.563vw;
  border-right: 0.052vw solid #252530;
}
.about .about__container .about__left-block .about__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
}
.about .about__container .about__left-block .about__descriptions {
  display: flex;
  gap: 2.344vw;
  padding: 2.083vw 3.333vw 2.083vw 0;
}
.about .about__container .about__left-block .about__descriptions:nth-child(2) {
  border-bottom: 0.052vw solid #252530;
}
.about .about__container .about__left-block .about__descriptions img {
  width: 4.427vw;
  height: 4.427vw;
}
.about .about__container .about__left-block .about__descriptions .texst {
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
}
.about .about__container .about__left-block .about__descriptions .texst p {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.about .about__container .about__left-block .whitepaper {
  margin: 0 0 0 6.823vw;
  position: relative;
  width: 10.417vw;
  height: 2.76vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 0.885vw;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(271.14deg, #7732ea 0.99%, #009afe 50.02%, #7732ea 99.04%);
  border-radius: 0.208vw;
  background-size: 200% 200%;
  animation: 3s buttom-bg linear infinite;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}
.about .about__container .about__left-block .whitepaper::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  content: "learn whitepaper";
  width: 100%;
  height: 100%;
  background: #7732ea;
  border-radius: 0.208vw;
  opacity: 0;
  z-index: 0;
  transition: 0.25s ease-out opacity;
}
.about .about__container .about__left-block .whitepaper:hover::before {
  opacity: 1;
  z-index: 0;
}
.about .about__container .about__sticker {
  margin: 0 0 0 3.385vw;
  padding: 0.781vw 6.51vw 1.042vw 1.302vw;
  background: #07deda;
  border-radius: 0.208vw 0vw 0vw 0.208vw;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
}
.about .about__container .about__sticker span {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #0b0b0c;
}
.about .about__container .about__sticker strong {
  padding: 0 0 0 2.813vw;
  width: 15.625vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #0b0b0c;
}

.wrapper-footer {
  position: relative;
}
.wrapper-footer .footer-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.wrapper-footer .car-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75.625vw;
  z-index: 1;
}
.wrapper-footer .faq {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  padding: 8vh 0 0 0;
}
.wrapper-footer .faq .faq__container {
  margin: 0 auto;
  width: 72.917vw;
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.wrapper-footer .faq .faq__container .faq__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item {
  display: flex;
  gap: 5.521vw;
  height: 3.646vw;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-out height;
  cursor: pointer;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-circle {
  margin: 1.302vw 0 0 0;
  transform: translateY(19%);
  flex-shrink: 0;
  width: 0.729vw;
  height: 0.729vw;
  border: 1px solid #ffffff;
  border-radius: 100%;
  transition: 0.3s ease-out background, 0.3s ease-out border;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-number {
  margin: 1.302vw 0 0 0;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
  transition: 0.3s ease-out color;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text {
  padding: 1.302vw 0 1.302vw 11.979vw;
  display: flex;
  flex-direction: column;
  gap: 0.729vw;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text h3 {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 1.146vw;
  line-height: 1.146vw;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s ease-out color;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text p {
  padding: 0 0 1.302vw 0;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
  opacity: 0;
  transition: 0.3s ease-out opacity;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-circle {
  background: #7732ea;
  border: 1px solid #7732ea;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-number {
  color: #7732ea;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-text h3 {
  color: #7732ea;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-text p {
  opacity: 1;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-circle {
  background: #7732ea;
  border: 1px solid #7732ea;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-number {
  color: #7732ea;
}
.wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-text h3 {
  color: #7732ea;
}
.wrapper-footer .team {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper-footer .team .team-container {
  margin: 0 auto;
  width: 72.917vw;
  display: flex;
  flex-direction: column;
}
.wrapper-footer .team .team-container .team__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 5.313vw;
  line-height: 5.313vw;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper-footer .team .team-container .people__container {
  margin: 2.604vw 0 0 0;
  display: flex;
  justify-content: space-between;
}
.wrapper-footer .team .team-container .people__container .people {
  width: 18.646vw;
  position: relative;
}
.wrapper-footer .team .team-container .people__container .people:nth-child(2) {
  margin: 7.604vw 0 0 0;
}
.wrapper-footer .team .team-container .people__container .people:nth-child(3) {
  margin: -5.781vw 0 0 0;
}
.wrapper-footer .team .team-container .people__container .people .inst {
  width: 1.979vw;
  height: 1.979vw;
  border-radius: 100%;
  position: absolute;
  left: 1.563vw;
  top: 0;
  border: 1px solid #7732ea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-out background;
  cursor: pointer;
  text-decoration: none;
  z-index: 3;
}
.wrapper-footer .team .team-container .people__container .people .inst svg {
  width: 1.042vw;
  height: auto;
}
.wrapper-footer .team .team-container .people__container .people .inst:hover {
  background: #7732ea;
}
.wrapper-footer .team .team-container .people__container .people .people-circle {
  position: absolute;
  right: 0.521vw;
  top: 4.583vw;
}
.wrapper-footer .team .team-container .people__container .people .people-circle .circle {
  position: relative;
  width: 10.313vw;
  z-index: 1;
}
.wrapper-footer .team .team-container .people__container .people .people-circle .car {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 8.958vw;
  transform: translate(6%, 12%);
}
.wrapper-footer .team .team-container .people__container .people .photo {
  position: relative;
  width: 13.542vw;
  z-index: 2;
}
.wrapper-footer .team .team-container .people__container .people .name {
  margin: 0 0 0 2.083vw;
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 2.083vw;
  line-height: 2.188vw;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper-footer .team .team-container .people__container .people .description {
  margin: 0.521vw 0 0 2.083vw;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.wrapper-footer .footer {
  padding: 22.708vw 0 0 0;
  z-index: 2;
  position: relative;
}
.wrapper-footer .footer .footer__container {
  position: relative;
  padding: 0 0 3.021vw 0;
  margin: 0 auto;
  width: 72.917vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-footer .footer .footer__container .register {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7.604vw;
  width: 10.417vw;
  height: 2.76vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 0.729vw;
  line-height: 0.885vw;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(271.14deg, #7732ea 0.99%, #009afe 50.02%, #7732ea 99.04%);
  border-radius: 0.208vw;
  background-size: 200% 200%;
  animation: 3s buttom-bg linear infinite;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
}
.wrapper-footer .footer .footer__container .register::before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  content: "whitelist register";
  width: 100%;
  height: 100%;
  background: #7732ea;
  border-radius: 0.208vw;
  opacity: 0;
  z-index: 0;
  transition: 0.25s ease-out opacity;
}
.wrapper-footer .footer .footer__container .register:hover::before {
  opacity: 1;
  z-index: 0;
}
.wrapper-footer .footer .footer__container .rights {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 1.25vw;
  color: #ffffff;
}
.wrapper-footer .footer .footer__container .footer__social {
  transform: translateX(-37.5%);
  display: flex;
  gap: 1.042vw;
}
.wrapper-footer .footer .footer__container .footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.979vw;
  height: 1.979vw;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.082352);
  transition: 0.25s ease-out background;
}
.wrapper-footer .footer .footer__container .footer__social a img {
  width: 1.042vw;
  height: auto;
}
.wrapper-footer .footer .footer__container .footer__social a:hover {
  background: #7732ea;
}
.wrapper-footer .footer .footer__container strong {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 0.729vw;
  line-height: 99%;
  color: #4e5465;
  display: flex;
  gap: 0.313vw;
}
.wrapper-footer .footer .footer__container strong a {
  text-decoration: none;
}
.wrapper-footer .footer .footer__container strong a svg {
  width: 4.688vw;
  height: auto;
}
.wrapper-footer .footer .footer__container strong a svg path {
  transition: 0.25s ease-out fill;
}
.wrapper-footer .footer .footer__container strong a:hover svg path {
  fill: #7732ea;
}/*# sourceMappingURL=1920.css.map */