@keyframes buttom-bg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #0b0b0c;
  opacity: 0;
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 10px 10px 10px rgb(7, 222, 218);
  border-radius: 2px;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #0b0b0c;
  position: relative;
}

.logo {
  position: fixed;
  top: 40px;
  left: 50px;
  width: 80px;
  height: auto;
  z-index: 10;
}

.welcome__wrapper {
  height: 200vh;
}
.welcome__wrapper .welcome {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}
.welcome__wrapper .welcome .welcome-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease-in-out transform, 1s ease-in-out filter, 0.7s opacity 0.3s ease-in-out;
}
.welcome__wrapper .welcome .welcome-bg.active {
  transform: rotate(15deg) scale(1.1);
  filter: blur(3px);
  opacity: 0;
}
.welcome__wrapper .welcome .social {
  position: absolute;
  left: 50px;
  bottom: 326px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.welcome__wrapper .welcome .social a {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.0823529412);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s background ease-out;
}
.welcome__wrapper .welcome .social a img {
  width: 20px;
  height: auto;
}
.welcome__wrapper .welcome .social a:hover {
  background: #7732ea;
}
.welcome__wrapper .welcome .welcome__top-block {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 92px;
  color: #ffffff;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-subtitle {
  width: 332px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 0 86px;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button {
  position: absolute;
  margin: 30px 0 0 86px;
  width: 200px;
  height: 53px;
  background: linear-gradient(271.14deg, #7732ea 0.99%, #009afe 50.02%, #7732ea 99.04%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-size: 200% 200%;
  animation: 3s buttom-bg linear infinite;
  overflow: hidden;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button span {
  position: relative;
  z-index: 1;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #7732ea;
  border-radius: 4px;
  opacity: 0;
  z-index: 0;
  transition: 0.25s ease-out opacity;
}
.welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button:hover::before {
  opacity: 1;
}
.welcome__wrapper .welcome .title {
  position: absolute;
  left: 50px;
  bottom: 40px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.welcome__wrapper .welcome .title span {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 162px;
  line-height: 162px;
  color: #ffffff;
}
.welcome__wrapper .welcome .video__wrapper {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(100vh) scale(0.4);
  overflow: hidden;
  z-index: 2;
}
.welcome__wrapper .welcome .video__wrapper.active {
  transform: translateY(0) scale(1);
}
.welcome__wrapper .welcome .video__wrapper #video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.welcome__wrapper .welcome .video__wrapper .control {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background: none;
  transition: 0.25s ease-out background;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button svg {
  width: 12px;
  height: auto;
  transition: 0.25s ease-out opacity;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button svg .icon {
  transition: 0.25s ease-out fill;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button:hover {
  background: #ffffff;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button:hover svg .icon {
  fill: #0b0b0c;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button.active {
  background: #ffffff;
}
.welcome__wrapper .welcome .video__wrapper .control .control-button.active svg .icon {
  fill: #0b0b0c;
}
.welcome__wrapper .welcome .video__wrapper .control .pause {
  display: none;
}
.welcome__wrapper .welcome .video__wrapper .control .muted-off {
  display: none;
}
.welcome__wrapper .welcome .video__wrapper .control .muted svg {
  width: 19px;
  height: auto;
}
.welcome__wrapper .welcome .video__wrapper .control #progress {
  overflow: hidden;
  width: 362px;
  height: 5px;
  margin: 0 5px;
  accent-color: rgba(255, 0, 0, 0.9);
  border-radius: 100px;
  cursor: pointer;
}
.welcome__wrapper .welcome .video__wrapper .control #progress::-webkit-progress-value {
  background: #009afe;
}
.welcome__wrapper .welcome .video__wrapper .control #out {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.colection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.colection .colection__container {
  margin: 0 auto;
  width: 1400px;
}
.colection .colection__container .colection__top-block {
  display: flex;
  justify-content: space-between;
}
.colection .colection__container .colection__top-block .colection__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  text-transform: uppercase;
  color: #ffffff;
  width: 640px;
}
.colection .colection__container .colection__top-block .colection__subtitle-wrapper {
  width: 695px;
  padding: 19px 24px 26px 39px;
  background-image: url(../img/colection/colection-bg.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.colection .colection__container .colection__top-block .colection__subtitle-wrapper p {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.colection .colection__container .colection__galery {
  display: flex;
  position: relative;
  height: 541px;
}
.colection .colection__container .colection__galery .colection__galery-container {
  overflow: hidden;
  position: absolute;
}
.colection .colection__container .colection__galery .colection__galery-container .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.5s ease-out;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide.active {
  transform: translateX(0);
  z-index: 1;
}
.colection .colection__container .colection__galery .colection__galery-container .colection-slide.noactive {
  transform: translateX(-100%);
  z-index: 1;
}
.colection .colection__container .colection__galery .container1 {
  width: 200px;
  height: 215px;
  left: 0;
  top: -38px;
}
.colection .colection__container .colection__galery .container2 {
  width: 305px;
  height: 328px;
  left: 240px;
  top: -38px;
}
.colection .colection__container .colection__galery .container3 {
  width: 440px;
  height: 473px;
  left: 480px;
  top: 37px;
}
.colection .colection__container .colection__galery .container4 {
  width: 271px;
  height: 291px;
  left: 960px;
  top: 111px;
}
.colection .colection__container .colection__galery .container5 {
  width: 127px;
  height: 137px;
  left: 1273px;
  top: 37px;
}
.colection .colection__container .colection__galery .container6 {
  width: 210px;
  height: 226px;
  left: 1190px;
  top: 315px;
}
.colection .colection__container .colection__galery .colection__descrition {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 32px;
}
.colection .colection__container .colection__galery .colection__descrition span {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  padding: 3px 20px 0 8px;
  background: #07deda;
  border-radius: 2px 0px 0px 2px;
  width: auto;
  height: 26px;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #0b0b0c;
}
.colection .colection__container .colection__galery .colection__descrition ul {
  padding: 20px 0 20px 30px;
  border-left: 1px solid #252530;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.colection .colection__container .colection__galery .colection__descrition ul li {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.gorisontal__wrapper {
  height: 400vh;
}
.gorisontal__wrapper .gorisontal-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content {
  display: flex;
  width: 200%;
  transform: translateX(0);
  transition: 0.75s ease-in-out transform;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content.step-one {
  transform: translateX(-50%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container {
  margin: 0 auto;
  width: 1400px;
  z-index: 2;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__title {
  position: relative;
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;
  text-transform: uppercase;
  color: #ffffff;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__subtitle {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 4px 28px 0 8px;
  width: 420px;
  background: #07deda;
  border-radius: 2px 0px 0px 2px;
  height: auto;
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #0b0b0c;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider {
  position: relative;
  margin: 45px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 343px;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__button-container .button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.0823529412);
  background: none;
  transition: 0.25s ease-out background;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__button-container .button .arrow {
  width: 20px;
  height: auto;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__button-container .button:hover {
  background: #7732ea;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__button-container .button-next .arrow {
  transform: rotate(180deg);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__text {
  position: absolute;
  width: 690px;
  left: 0;
  bottom: 135px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s ease-in-out transform, 0.5s ease-in-out opacity;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__text.active {
  opacity: 1;
  transform: translateY(0);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .slider__text.noactive {
  transform: translateY(-200%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .utility__number-container {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .utility__number-container #first-number {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 102px;
  line-height: 77px;
  text-transform: uppercase;
  color: #ffffff;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__container .utility__slider .utility__number-container #last-number {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.1;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__slide {
  position: absolute;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out transform, 0.5s ease-in-out opacity;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__slide.active {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .utility .utility__slide.noactive {
  transform: translateY(0);
  opacity: 0;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap .roadmap__continer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap .roadmap__continer .roadmap__title {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-size: 242px;
  line-height: 242px;
  text-transform: uppercase;
  color: #ffffff;
  transform: translateX(94%);
  transition: 0.75s ease-in-out transform;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap .roadmap__continer .roadmap__subtitle {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  transform: translateX(154%);
  transition: 0.75s ease-in-out 0.05s transform;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap .roadmap__continer .roadmap__description {
  width: 440px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transform: translateX(350%);
  transition: 0.75s ease-in-out 0.1s transform;
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-one .roadmap__continer .roadmap__title {
  transform: translateX(0);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-one .roadmap__continer .roadmap__subtitle {
  transform: translateX(78%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-one .roadmap__continer .roadmap__description {
  transform: translateX(190%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-two .roadmap__continer .roadmap__title {
  transform: translateX(-80%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-two .roadmap__continer .roadmap__subtitle {
  transform: translateX(52%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-two .roadmap__continer .roadmap__description {
  transform: translateX(41%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-three .roadmap__continer .roadmap__title {
  transform: translateX(-155%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-three .roadmap__continer .roadmap__subtitle {
  transform: translateX(10%);
}
.gorisontal__wrapper .gorisontal-container .gorisontal-content .roadmap.step-three .roadmap__continer .roadmap__description {
  transform: translateX(-102%);
}/*# sourceMappingURL=1920.css.map */