@media only screen and (max-width: 600px) {
  .wrapper .preloader .load {
    bottom: 50px;
  }
  .logo {
    top: 4vw;
    left: 4vw;
    width: 14.933vw;
  }
  .welcome__wrapper::after {
    height: 30.133vw;
  }
  .welcome__wrapper .welcome .welcome-bg {
    display: none;
  }
  .welcome__wrapper .welcome .welcome-bg.active {
    filter: blur(0.801vw);
    opacity: 1;
  }
  .welcome__wrapper .welcome .welcome-bg375 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(0);
  }
  .welcome__wrapper .welcome .social {
    left: 4vw;
    top: 70.667vw;
    gap: 2.667vw;
  }
  .welcome__wrapper .welcome .social a {
    width: 9.066vw;
    height: 9.066vw;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .welcome__wrapper .welcome .social a img {
    width: 4.801vw;
  }
  .welcome__wrapper .welcome .welcome__top-block {
    top: 70.667vw;
    left: auto;
    right: 4vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-title {
    font-size: 13.867vw;
    line-height: 11.733vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-subtitle {
    width: 53.867vw;
    font-size: 4vw;
    line-height: 5.333vw;
    margin: 0 0 0 10.667vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button {
    margin: 5.333vw 0 0 10.667vw;
    width: 43.999vw;
    height: 11.733vw;
    border-radius: 0.801vw;
    font-size: 3.201vw;
    line-height: 3.734vw;
  }
  .welcome__wrapper .welcome .welcome__top-block .welcome__top-block-button::before {
    border-radius: 0.801vw;
  }
  .welcome__wrapper .welcome .title {
    top: 29.867vw;
    left: 4vw;
    font-size: 4.8vw;
    line-height: 5.6vw;
  }
  .welcome__wrapper .welcome .title span {
    font-size: 14.933vw;
    line-height: 13.867vw;
  }
  .welcome__wrapper .welcome .video__wrapper {
    bottom: 8vw;
  }
  .welcome__wrapper .welcome .video__wrapper .youtube {
    width: 13.067vw;
    height: 4.8vw;
    border-radius: 0.533vw;
    font-size: 3.2vw;
    line-height: 3.733vw;
  }
  .welcome__wrapper .welcome .video__wrapper #video {
    width: 29.333vw;
    height: 16.533vw;
    border-radius: 0vw 2.134vw 2.134vw 0vw;
  }
  .welcome__wrapper .welcome .video__wrapper .control {
    display: none;
  }
  .colection {
    height: auto;
    padding: 21.333vw 0 7.2vw 0;
    align-items: flex-start;
  }
  .colection .colection__container {
    width: 91.467vw;
    height: 190.667vw;
  }
  .colection .colection__container .colection__top-block .colection__title {
    font-size: 12.8vw;
    line-height: 12.8vw;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper {
    background-image: none;
    right: auto;
    left: 0;
    bottom: -138.667vw;
    width: 91.467vw;
    padding: 0;
    gap: 4vw;
  }
  .colection .colection__container .colection__top-block .colection__subtitle-wrapper p {
    font-size: 4vw;
    line-height: 5.867vw;
  }
  .colection .colection__container .colection__galery {
    height: 134.667vw;
  }
  .colection .colection__container .colection__galery .container1 {
    width: 19.608vw;
    height: 21.077vw;
    top: 4vw;
  }
  .colection .colection__container .colection__galery .container2 {
    width: 26.992vw;
    height: 29.016vw;
    left: 39.733vw;
    top: 4vw;
  }
  .colection .colection__container .colection__galery .container3 {
    width: 12.648vw;
    height: 13.597vw;
    left: 79.2vw;
    top: 5.333vw;
  }
  .colection .colection__container .colection__galery .container4 {
    width: 29.901vw;
    height: 32.157vw;
    left: 0;
    top: 29.067vw;
  }
  .colection .colection__container .colection__galery .container5 {
    width: 43.136vw;
    height: 46.373vw;
    left: 23.467vw;
    top: 39.733vw;
    z-index: 2;
  }
  .colection .colection__container .colection__galery .container6 {
    width: 20.915vw;
    height: 22.485vw;
    left: 70.933vw;
    top: 26.4vw;
  }
  .colection .colection__container .colection__galery .colection__descrition {
    top: 142.933vw;
    gap: 5.333vw;
  }
  .colection .colection__container .colection__galery .colection__descrition span {
    margin: 3.201vw 0 0 0;
    padding: 0.801vw 5.333vw 0 2.134vw;
    border-radius: 0.533vw 0vw 0vw 0.533vw;
    height: 6.134vw;
    font-size: 5.333vw;
    line-height: 5.333vw;
  }
  .colection .colection__container .colection__galery .colection__descrition ul {
    padding: 4vw 0 4vw 5.333vw;
    border-left: 0.266vw solid #252530;
    gap: 2.666vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  .colection .colection__container .colection__galery .colection__descrition ul li {
    font-size: 5.333vw;
    line-height: 5.333vw;
  }
  .vertical__wrapper {
    height: 300vh;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__slide {
    width: 150%;
    margin: 0 0 0 -25%;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility-bg {
    height: 100%;
    bottom: 0;
    top: auto;
    width: auto;
    opacity: 0.65;
    transform: translateX(-71%);
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container {
    width: 91.467vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__title {
    font-size: 12.8vw;
    line-height: 12.8vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__subtitle {
    margin: 2.667vw 0 0 0;
    padding: 1.599vw 6.933vw 0 1.599vw;
    width: 92vw;
    border-radius: 0.533vw 0vw 0vw 0.533vw;
    font-size: 5.333vw;
    line-height: 5.333vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider {
    margin: 10.667vw 0 0 0;
    gap: 45vh;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container {
    gap: 3.201vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button {
    width: 10.134vw;
    height: 10.134vw;
    border: 0.266vw solid rgba(255, 255, 255, 0.0823529412);
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__button-container .button .arrow {
    width: 3.379vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .slider__text {
    width: 100%;
    top: 13.333vw;
    font-size: 4vw;
    line-height: 5.867vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container {
    width: 20vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #first-number {
    font-size: 11.201vw;
    line-height: 8.8vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .utility .utility__container .utility__slider .utility__number-container #last-number {
    font-size: 6.933vw;
    line-height: 6.933vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer {
    gap: 7.999vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer::after {
    display: none;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__title {
    font-size: 23.467vw;
    line-height: 23.467vw;
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__subtitle {
    font-size: 5.866vw;
    line-height: 5.866vw;
    padding: 0.4% 5.333vw 0 1.599vw;
    border-radius: 0.533vw 0vw 0vw 0.533vw;
    transform: translateX(-115%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap .roadmap__continer .roadmap__description {
    width: 91.998vw;
    font-size: 4vw;
    line-height: 5.866vw;
    transform: translateX(-165%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer {
    transform: translateY(50%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__title {
    transform: translateY(0);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-one .roadmap__continer .roadmap__subtitle {
    transform: translateX(49.5%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer {
    transform: translateY(0%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__subtitle {
    transform: translateX(49.5%);
  }
  .vertical__wrapper .vertical-container .vertical-content .roadmap.step-two .roadmap__continer .roadmap__description {
    transform: translateX(0%);
  }
  .road .road__container .slider__button-container2 {
    right: 4vw;
    gap: 3.2vw;
  }
  .road .road__container .slider__button-container2 .button {
    width: 10.134vw;
    height: 10.134vw;
    border: 1px solid rgba(255, 255, 255, 0.0823529412);
  }
  .road .road__container .slider__button-container2 .button .arrow {
    width: 3.377vw;
  }
  .road .road__container .slide-wrapper .road__background {
    display: none;
  }
  .road .road__container .slide-wrapper .road__background1024 {
    display: none;
  }
  .road .road__container .slide-wrapper .road__background768 {
    display: block;
    width: 696vw;
    transform: translateY(-81%);
    height: 82.933vw;
  }
  .road .road__container .slide-wrapper .road-slide {
    gap: 62.933vw;
  }
  .road .road__container .slide-wrapper .road-slide.right .left-block .date::after {
    transform: translateX(-169%);
  }
  .road .road__container .slide-wrapper .road-slide .left-block {
    margin: 0 0 0 4vw;
    gap: 1.599vw;
  }
  .road .road__container .slide-wrapper .road-slide .left-block::before {
    height: 5.867vw;
    width: 0.533vw;
    bottom: -36%;
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date {
    width: 32vw;
    font-size: 11.2vw;
    line-height: 11.2vw;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
  .road .road__container .slide-wrapper .road-slide .left-block .date::after {
    display: none;
  }
  .road .road__container .slide-wrapper .road-slide .left-block strong {
    font-size: 11.2vw;
    line-height: 11.2vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block {
    padding: 0;
    gap: 2.133vw;
    width: 92vw;
    margin: 0 0 0 4vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .title {
    font-size: 7.465vw;
    line-height: 7.465vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .subtitle {
    font-size: 4vw;
    line-height: 5.866vw;
  }
  .road .road__container .slide-wrapper .road-slide .right-block .checker {
    width: 13.867vw;
  }
  .road .road__container .auto__wrapper {
    transform: translateY(-12%);
  }
  .road .road__container .auto__wrapper .auto__container .auto {
    width: 75.467vw;
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle {
    width: 29.067vw;
  }
  .road .road__container .auto__wrapper .auto__container .auto-circle .circle-slide {
    width: 25.6vw;
    box-shadow: 0vw 0vw 26.667vw 12.534vw rgba(0, 0, 0, 0.74);
  }
  .about {
    padding: 21.333vw 0 80vw 0;
    height: auto;
  }
  .about .car {
    right: 8.267vw;
    bottom: 10.667vw;
    width: 70.666vw;
  }
  .about .people {
    right: -4vw;
    bottom: 37.6vw;
    width: 42.4vw;
  }
  .about .about__container {
    width: 92vw;
    flex-direction: column;
  }
  .about .about__container .about__left-block {
    width: 92vw;
    border-right: none;
    border-bottom: 1px solid #252530;
    padding: 0 0 8vw 0;
  }
  .about .about__container .about__left-block .about__title {
    font-size: 12.8vw;
    line-height: 12.8vw;
  }
  .about .about__container .about__left-block .about__descriptions {
    flex-direction: column;
    gap: 2.667vw;
    padding: 8vw 0 8vw 0;
  }
  .about .about__container .about__left-block .about__descriptions:nth-child(2) {
    border-bottom: 0.266vw solid #252530;
    padding: 2.667vw 0 8vw 0;
  }
  .about .about__container .about__left-block .about__descriptions img {
    width: 14.933vw;
    height: 14.933vw;
  }
  .about .about__container .about__left-block .about__descriptions .texst {
    gap: 2.666vw;
  }
  .about .about__container .about__left-block .about__descriptions .texst p {
    font-size: 4vw;
    line-height: 5.867vw;
  }
  .about .about__container .about__left-block .whitepaper {
    margin: 0;
    width: 43.999vw;
    height: 11.733vw;
    font-size: 3.201vw;
    line-height: 3.734vw;
    border-radius: 0.801vw;
  }
  .about .about__container .about__left-block .whitepaper::before {
    border-radius: 0.801vw;
  }
  .about .about__container .about__sticker {
    margin: 8vw 0 0 0;
    width: 100%;
    padding: 2.134vw 11.467vw 2.933vw 3.467vw;
    border-radius: 0.533vw 0vw 0vw 0.533vw;
    -webkit-clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
  }
  .about .about__container .about__sticker span {
    font-size: 13.867vw;
    line-height: 13.867vw;
  }
  .about .about__container .about__sticker strong {
    box-sizing: content-box;
    padding: 0 0 0 7.201vw;
    width: auto;
    font-size: 4vw;
    line-height: 5.333vw;
  }
  .wrapper-footer .footer-bg {
    width: 170%;
    transform: translateX(12%);
  }
  .wrapper-footer .car-footer {
    width: 161.333vw;
  }
  .wrapper-footer .faq {
    padding: 21.333vw 0 8vw 0;
  }
  .wrapper-footer .faq .faq__container {
    width: 92vw;
    gap: 10.666vw;
  }
  .wrapper-footer .faq .faq__container .faq__title {
    font-size: 12.8vw;
    line-height: 12.8vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item {
    gap: 2.667vw;
    height: 13.333vw;
    border-bottom: 0.266vw solid rgba(255, 255, 255, 0.1);
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-circle {
    margin: 4.8vw 0 0 0;
    width: 2.4vw;
    height: 2.4vw;
    border: 1px solid #ffffff;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-number {
    display: none;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text {
    padding: 4vw 0;
    gap: 2.134vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text h3 {
    display: block;
    font-size: 5.333vw;
    line-height: 5.867vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item .item-text p {
    padding: 0 0 6.4vw 0;
    font-size: 3.734vw;
    line-height: 5.867vw;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item.active .item-circle {
    border: 0.266vw solid #7732ea;
  }
  .wrapper-footer .faq .faq__container .faq__acordeon .acordeon-item:hover .item-circle {
    border: 0.266vw solid #7732ea;
  }
  .wrapper-footer .team {
    padding: 21.333vw 0 8vw 0;
  }
  .wrapper-footer .team .team-container {
    width: 92vw;
  }
  .wrapper-footer .team .team-container .team__title {
    font-size: 12.8vw;
    line-height: 12.8vw;
  }
  .wrapper-footer .team .team-container .people__container {
    margin: 0;
    flex-direction: column;
  }
  .wrapper-footer .team .team-container .people__container .people {
    width: 92vw;
    margin: 12.533vw 0 4.533vw 0;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(2) {
    margin: 12.533vw 0 4.533vw 0;
  }
  .wrapper-footer .team .team-container .people__container .people:nth-child(3) {
    margin: 12.533vw 0 4.533vw 0;
  }
  .wrapper-footer .team .team-container .people__container .people .inst {
    width: 10.134vw;
    height: 10.134vw;
    left: 7.999vw;
    border: 1px solid #7732ea;
  }
  .wrapper-footer .team .team-container .people__container .people .inst svg {
    width: 4.801vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle {
    right: 4vw;
    top: 18.667vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .circle {
    width: 49.334vw;
  }
  .wrapper-footer .team .team-container .people__container .people .people-circle .car {
    width: 43.201vw;
  }
  .wrapper-footer .team .team-container .people__container .people .photo {
    width: 65.333vw;
  }
  .wrapper-footer .team .team-container .people__container .people .name {
    font-size: 7.467vw;
    line-height: 7.467vw;
    margin: 0 0 0 9.333vw;
  }
  .wrapper-footer .team .team-container .people__container .people .description {
    margin: 2.666vw 0 0 9.333vw;
    font-size: 4vw;
    line-height: 5.867vw;
  }
  .wrapper-footer .footer {
    padding: 32vw 0 0 0;
  }
  .wrapper-footer .footer .footer__container {
    padding: 0 0 11.2vw 0;
    width: 92vw;
    flex-direction: column;
  }
  .wrapper-footer .footer .footer__container .register {
    bottom: 85.333vw;
    width: 43.999vw;
    height: 11.733vw;
    font-size: 3.201vw;
    line-height: 3.734vw;
    border-radius: 0.801vw;
  }
  .wrapper-footer .footer .footer__container .register::before {
    border-radius: 0.801vw;
  }
  .wrapper-footer .footer .footer__container .rights {
    margin: 6.667vw 0 0 0;
    font-size: 3.734vw;
    line-height: 5.333vw;
  }
  .wrapper-footer .footer .footer__container .footer__social {
    order: -1;
    transform: translateX(0);
    gap: 3.201vw;
  }
  .wrapper-footer .footer .footer__container .footer__social a {
    width: 9.066vw;
    height: 9.066vw;
    border: 0.266vw solid rgba(255, 255, 255, 0.082352);
  }
  .wrapper-footer .footer .footer__container .footer__social a img {
    width: 4.801vw;
  }
  .wrapper-footer .footer .footer__container strong {
    margin: 41.6vw 0 0 0;
    font-size: 3.734vw;
    line-height: 3.467vw;
    gap: 1.599vw;
  }
  .wrapper-footer .footer .footer__container strong a svg {
    width: 24.001vw;
  }
}/*# sourceMappingURL=375.css.map */