@media only screen and (max-width: 860px) {
  .wrapper {
    .preloader {
      .load {
        bottom: 9.115vw;
      }
    }
  }
  .logo {
    top: 2.604vw;
    left: 3.906vw;
    width: 8.333vw;
  }
  .welcome__wrapper {
    height: 100vh;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 28.125vw;
      background-image: url(../img/welcome/blur.png);
      background-size: 100% 100%;
    }
    .welcome {
      position: absolute;
      .welcome-bg {
        width: 150%;
        transform: translateX(-15%);
        &.active {
          filter: blur(0);
          transform: rotate(0) translateX(-15%) ;
          opacity: 1;
        }
      }
      .social {
        position: absolute;
        left: 3.906vw;
        top: 57.422vw;
        gap: 1.302vw;
        a {
          width: 4.427vw;
          height: 4.427vw;
          border: 0.13vw solid #ffffff15;
          img {
            width: 2.344vw;
          }
        }
      }
      .welcome__top-block {
        top: 57.422vw;
        left: 45.182vw;
        .welcome__top-block-title {
          font-size: 8.854vw;
          line-height: 7.552vw;
        }
        .welcome__top-block-subtitle {
          width: 39.063vw;
          font-size: 1.953vw;
          line-height: 2.604vw;
          margin: 0 0 0 6.771vw;
        }
        .welcome__top-block-button {
          margin: 2.604vw 0 0 6.771vw;
          width: 21.484vw;
          height: 5.729vw;
          border-radius: 0.391vw;
          font-size: 1.563vw;
          line-height: 1.823vw;
          &::before {
            border-radius: 0.391vw;
          }
        }
      }
      .title {
        top: 20.833vw;
        left: 3.906vw;
        bottom: auto;
        font-size: 4.948vw;
        line-height: 5.859vw;
        span {
          margin: 1.563vw 0 0 0;
          font-size: 13.281vw;
          line-height: 13.281vw;
        }
      }
      .video__wrapper {
        width: auto;
        height: auto;
        padding: 0;
        transform: none;
        bottom: 3.906vw;
        top: auto;
        .youtube {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 8.073vw;
          height: 3.125vw;
          background: #ffffff;
          border-radius: 0.391vw;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-family: "SF UI Display";
          font-style: normal;
          font-weight: 700;
          font-size: 1.953vw;
          line-height: 2.344vw;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #0b0b0c;
        }
        #video {
          width: 18.229vw;
          height: 10.286vw;
          border-radius: 0 1.042vw 1.042vw 0;
          border-top: 1px solid #306aa1;
          border-right: 1px solid #306aa1;
          border-bottom: 1px solid #306aa1;
        }
        .control {
          display: none;
        }
      }
    }
  }
  .colection {
    .colection__container {
      width: 92.057vw;
      .colection__top-block {
        .colection__title {
          font-size: 10.156vw;
          line-height: 10.156vw;
        }
        .colection__subtitle-wrapper {
          background-image: url(../img/colection/colection-bg768.svg);
          right: 0;
          bottom: -80.729vw;
          width: 49.219vw;
          padding: 2.474vw 3.125vw 3.385vw 5.078vw;
          gap: 1.953vw;
          p {
            font-size: 1.953vw;
            line-height: 2.865vw;
          }
        }
      }
      .colection__galery {
        height: 102.214vw;
        .container1 {
          width: 16.811vw;
          height: 18.072vw;
          top: 2.604vw;
        }
        .container2 {
          width: 27.352vw;
          height: 29.404vw;
          left: 20.182vw;
          top: 6.51vw;
        }
        .container3 {
          width: 36.984vw;
          height: 39.759vw;
          left: 40.365vw;
          top: 2.604vw;
        }
        .container4 {
          width: 22.779vw;
          height: 24.488vw;
          left: 0;
          top: 38.151vw;
          z-index: 2;
        }
        .container5 {
          width: 10.68vw;
          height: 11.48vw;
          left: 81.51vw;
          top: 2.604vw;
        }
        .container6 {
          width: 17.652vw;
          height: 18.975vw;
          left: 19.271vw;
          top: 55.339vw;
        }
        .colection__descrition {
          top: 80.208vw;
          gap: 2.604vw;
          span {
            margin: 1.563vw 0 0 0;
            padding: 0.391vw 2.604vw 0 1.042vw;
            border-radius: 0.26vw 0vw 0vw 0.26vw;
            height: 2.995vw;
            font-size: 2.604vw;
            line-height: 2.604vw;
          }
          ul {
            padding: 1.953vw 0 1.953vw 2.604vw;
            border-left: 0.13vw solid #252530;
            gap: 1.302vw;
            li {
              font-size: 2.604vw;
              line-height: 2.604vw;
            }
          }
        }
      }
    }
  }
  .vertical__wrapper {
    height: 300vh;
    .vertical-container {
      .vertical-content {
        .utility {
          .utility__slide {
            width: 140%;
            margin: 0 0 0 -20%;
          }
          .utility-bg {
            height: auto;
            bottom: 0;
            top: auto;
            opacity: 0.85;
          }
          .utility__container {
            width: 92.057vw;
            .utility__title {
              font-size: 10.156vw;
              line-height: 10.156vw;
            }
            .utility__subtitle {
              margin: 1.302vw 0 0 0;
              padding: 0.781vw 3.385vw 0 0.781vw;
              width: 44.922vw;
              border-radius: 0.26vw 0vw 0vw 0.26vw;
              font-size: 2.604vw;
              line-height: 2.604vw;
            }
            .utility__slider {
              margin: 7.813vw 0 0 0;
              gap: 79.818vw;
              .slider__button-container {
                gap: 1.563vw;
                .button {
                  width: 4.948vw;
                  height: 4.948vw;
                  border: 0.13vw solid #ffffff15;
                  .arrow {
                    width: 1.65vw;
                  }
                }
              }
              .slider__text {
                width: 44.141vw;
                bottom: auto;
                top: 8.203vw;
                font-size: 2.344vw;
                line-height: 3.646vw;
              }
              .utility__number-container {
                width: 9.375vw;
                #first-number {
                  font-size: 5.469vw;
                  line-height: 4.297vw;
                }
                #last-number {
                  font-size: 3.385vw;
                  line-height: 3.385vw;
                }
              }
            }
          }
        }
        .roadmap {
          .roadmap__continer {
            gap: 3.906vw;
            &::after {
              position: absolute;
              display: block;
              content: "";
              background-image: url(../img/road/arrow.svg);
              background-size: 100%;
              background-repeat: no-repeat;
              background-position: bottom;
              width: 100%;
              height: 27vh;
              top: 0;
              left: 0;
              transform: translateY(141%);
            }
            .roadmap__title {
              font-size: 17.708vw;
              line-height: 17.708vw;
            }
            .roadmap__subtitle {
              font-size: 2.864vw;
              line-height: 2.864vw;
              padding: 0.4% 2.604vw 0 0.781vw;
              border-radius: 0.26vw 0vw 0vw 0.26vw;
              transform: translateX(-160%);
            }
            .roadmap__description {
              width: 44.921vw;
              font-size: 1.953vw;
              line-height: 2.864vw;
              transform: translateX(-165%);
            }
          }
          &.step-one {
            .roadmap__continer {
              transform: translateY(50%);
              .roadmap__title {
                transform: translateY(0);
              }
              .roadmap__subtitle {
                transform: translateX(131%);
              }
            }
          }
          &.step-two {
            .roadmap__continer {
              transform: translateY(0%);
              .roadmap__subtitle {
                transform: translateX(131%);
              }
              .roadmap__description {
                transform: translateX(0%);
              }
            }
          }
        }
      }
    }
  }
  .road {
    .road__container {
      .slider__button-container2 {
        right: 3.906vw;
        gap: 1.563vw;
        .button {
          width: 4.948vw;
          height: 4.948vw;
          border: 0.13vw solid #ffffff15;
          .arrow {
            width: 1.649vw;
          }
        }
      }
      .slide-wrapper {
        .road__background {
          display: none;
        }
        .road__background1024 {
          display: none;
        }
        .road__background768 {
          display: block;
          width: 681vw;
          transform: translateY(-60%);
          position: absolute;
          left: 0;
          top: 50%;
          z-index: 1;
          height: 70.313vw;
        }
        .road-slide {
          gap: 52.995vw;
          &.right {
            .left-block {
              display: flex;
              .date {
                &::after {
                  transform: translateX(-169%);
                }
              }
            }
          }
          .left-block {
            margin: 0 0 0 3.906vw;
            gap: 0.781vw;
            &::before {
              height: 2.865vw;
              width: 0.26vw;
              bottom: -19%;
            }
            .date {
              width: 15.625vw;
              font-size: 8.073vw;
              line-height: 8.073vw;
              -webkit-text-stroke: 0.13vw rgb(255, 255, 255);
              &::after {
                display: none;
              }
            }
            strong {
              font-size: 8.073vw;
              line-height: 8.073vw;
            }
          }
          .right-block {
            padding: 0;
            gap: 1.693vw;
            width: 91.146vw;
            margin: 0 0 0 3.906vw;
            .title {
              font-size: 3.645vw;
              line-height: 3.645vw;
            }
            .subtitle {
              font-size: 1.953vw;
              line-height: 2.864vw;
            }
            .checker {
              display: flex;
              order: -1;
              margin: 0;
              width: 9.115vw;
            }
          }
        }
      }
      .auto__wrapper {
        transform: translateY(-8%);
        .auto__container {
          .auto {
            width: 52.473vw;
          }

          .auto-circle {
            .circle {
              width: 20.964vw;
            }
            .circle-slide {
              width: 18.229vw;
              -webkit-box-shadow: 0vw 0vw 13.021vw 6.12vw rgba(0, 0, 0, 0.74);
              -moz-box-shadow: 0vw 0vw 13.021vw 6.12vw rgba(0, 0, 0, 0.74);
              box-shadow: 0vw 0vw 13.021vw 6.12vw rgba(0, 0, 0, 0.74);
            }
          }
        }
      }
    }
  }
  .about {
    overflow: hidden;
    .car {
      right: -4.948vw;
      bottom: 47%;
      width: 36.979vw;
    }
    .people {
      right: -7.161vw;
      bottom: 58%;
      width: 22.135vw;
    }
    .about__container {
      width: 92.057vw;
      .about__left-block {
        width: 63.932vw;
        border-right: 0.13vw solid #252530;
        .about__title {
          font-size: 10.156vw;
          line-height: 10.156vw;
        }
        .about__descriptions {
          gap: 2.604vw;
          padding: 3.906vw 3.906vw 3.906vw 0;
          &:nth-child(2) {
            border-bottom: 0.13vw solid #252530;
          }
          img {
            width: 8.333vw;
            height: 8.333vw;
          }
          .texst {
            gap: 1.302vw;
            p {
              font-size: 1.953vw;
              line-height: 2.865vw;
            }
          }
        }
        .whitepaper {
          margin: 0 0 0 10.938vw;
          width: 21.484vw;
          height: 5.729vw;
          font-size: 1.563vw;
          line-height: 1.823vw;
          border-radius: 0.391vw;
          &::before {
            border-radius: 0.391vw;
          }
        }
      }
      .about__sticker {
        margin: 0 0 0 2.995vw;
        padding: 1.042vw 5.599vw 1.432vw 1.693vw;
        border-radius: 0.26vw 0vw 0vw 0.26vw;
        span {
          font-size: 6.771vw;
          line-height: 6.771vw;
        }
        strong {
          box-sizing: content-box;
          padding: 0 0 0 3.516vw;
          width: 20.833vw;
          font-size: 1.953vw;
          line-height: 2.604vw;
        }
      }
    }
  }
  .wrapper-footer {
    .footer-bg {
      width: 170%;
      transform: translateX(12%);
    }
    .car-footer {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 189.063vw;
      z-index: 1;
    }
    .faq {
      .faq__container {
        width: 92.057vw;
        gap: 5.208vw;
        .faq__title {
          font-size: 10.156vw;
          line-height: 10.156vw;
        }
        .faq__acordeon {
          .acordeon-item {
            gap: 6.51vw;
            height: 8.333vw;
            border-bottom: 0.13vw solid rgba(255, 255, 255, 0.1);
            .item-circle {
              margin: 3.125vw 0 0 0;
              width: 1.172vw;
              height: 1.172vw;
              border: 0.13vw solid #ffffff;
            }
            .item-number {
              margin: 3.125vw 0 0 4.297vw;
              font-size: 1.823vw;
              line-height: 2.083vw;
            }
            .item-text {
              padding: 3.125vw 0 3.255vw 0;
              gap: 1.042vw;
              h3 {
                font-size: 2.604vw;
                line-height: 2.865vw;
              }
              p {
                padding: 0 0 3.125vw 0;
                font-size: 1.823vw;
                line-height: 2.865vw;
              }
            }
            &.active {
              .item-circle {
                border: 0.13vw solid #7732ea;
              }
            }
            &:hover {
              .item-circle {
                border: 0.13vw solid #7732ea;
              }
            }
          }
        }
      }
    }
    .team {
      padding: 8vh 0 4vh 0;
      height: auto;
      display: block;
      .team-container {
        width: 92.057vw;
        .team__title {
          font-size: 10.156vw;
          line-height: 10.156vw;
        }
        .people__container {
          margin: 4.818vw 0 0 0;
          flex-wrap: wrap;

          .people {
            width: 44.271vw;

            &:nth-child(2) {
              margin: 0;
            }
            &:nth-child(3) {
              margin: 5.208vw auto 0 auto;
            }
            .inst {
              width: 4.948vw;
              height: 4.948vw;
              left: 3.906vw;
              border: 0.13vw solid #7732ea;
              svg {
                width: 2.344vw;
              }
            }
            .people-circle {
              right: 1.953vw;
              top: 9.115vw;
              .circle {
                width: 24.089vw;
              }
              .car {
                width: 21.094vw;
              }
            }
            .photo {
              width: 31.901vw;
            }
            .name {
              font-size: 3.646vw;
              line-height: 3.646vw;
              margin: 0 0 0 4.557vw;
            }
            .description {
              margin: 1.302vw 0 0 4.557vw;
              font-size: 1.953vw;
              line-height: 2.865vw;
            }
          }
        }
      }
    }
    .footer {
      padding: 56.771vw 0 0 0;
      .footer__container {
        padding: 0 0 5.859vw 0;
        width: 92.057vw;
        .register {
          bottom: 23.438vw;
          width: 21.484vw;
          height: 5.729vw;
          font-size: 1.563vw;
          line-height: 1.823vw;
          border-radius: 0.391vw;
          &::before {
            border-radius: 0.391vw;
          }
        }
        .rights {
          font-size: 1.823vw;
          line-height: 2.604vw;
        }
        .footer__social {
          transform: translateX(-31.5%);
          gap: 1.563vw;
          a {
            width: 4.427vw;
            height: 4.427vw;
            border: 0.13vw solid rgba(255, 255, 255, 0.082352);
            img {
              width: 2.344vw;
            }
          }
        }
        strong {
          font-size: 1.823vw;
          line-height: 1.693vw;
          gap: 0.781vw;
          a {
            svg {
              width: 11.719vw;
            }
          }
        }
      }
    }
  }
}
